﻿@model Core.Models.Sales.Campana
@using tmkhogares.ViewModel;

@{
    ViewBag.Title = "Create";
    List<Core.Models.configuration.Configuration> Configuraciones = ViewBag.Configuraciones;
}


@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Crear Campana</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">


            @using (Html.BeginForm())
            {

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DescripcionCorta, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.DescripcionCorta, new { htmlAttributes = new { @class = "form-control" } })


                    </div>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DescripcionLarga, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.DescripcionLarga, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                @*<div class="col-md-3 col-xs-4">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label " })

                            <div class="checkbox">
                                @Html.EditorFor(model => model.Estado)

                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>*@
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoCiudadesId, "TipoCiudadesId", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("TipoCiudadesId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })

                    </div>


                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoProductoId, "TipoProductoId", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("TipoProductoId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Estratos, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.Estratos, new { htmlAttributes = new { @class = "form-control", pattern = "[1-6]", placeholder = "123456" } })

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteFijo, htmlAttributes: new { @class = "control-label " })
                        <select id="ClienteFijo" class="ClienteFijo form-control">
                            <option value="false">No</option>
                            <option value="true">si</option>
                        </select>


                    </div>

                </div>


                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteMovil, htmlAttributes: new { @class = "control-label " })
                        <select id="ClienteMovil" class="ClienteMovil form-control">
                            <option value="false">No</option>
                            <option value="true">si</option>
                        </select>

                    </div>
                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteNuevo, htmlAttributes: new { @class = "control-label " })
                        <select id="ClienteNuevo" class="ClienteNuevo form-control">
                            <option value="false">No</option>
                            <option value="true">si</option>
                        </select>

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoOfertaId, "TipoOfertaId", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("TipoOfertaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.percentValue, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.percentValue, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.percentBaVelocity, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.percentBaVelocity, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.percentBaVelocityClienteMovil, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.percentBaVelocityClienteMovil, new { htmlAttributes = new { @class = "form-control" } })


                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.percentValueClienteMovil, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.percentValueClienteMovil, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Campana_producto, htmlAttributes: new { @class = "control-label " })

                        <select id="Campana_producto" class="Campana_producto form-control">
                            <option value="2">HFC</option>
                            <option value="1">DTH</option>
                        </select>


                    </div>

                </div>

                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Campana_Tipo, htmlAttributes: new { @class = "control-label " })

                        <select  class="form-control select2" id="Campana_Tipo" name="Campana_Tipo">
                            
                            @foreach (Core.Models.configuration.Configuration item in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.ConfiguracionCampana_tipo))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>


                    </div>

                </div>

                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoPtar, htmlAttributes: new { @class = "control-label " })


                        <select  class="form-control select2" id="TipoPtar" name="TipoPtar">
                            <option value="">No Aplica</option>
                            @foreach (Core.Models.configuration.Configuration item in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Campana_DependePetar))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>

                    </div>

                </div>
                <div class="col-md-3 col-xs-4">


                    <div class="form-group">
                        @Html.LabelFor(model => model.Ptars, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Ptars, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger", style = "float:right;" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.ValidationMessageFor(model => model.TipoOfertaId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteNuevo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteMovil, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteFijo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoProductoId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoCiudadesId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Estratos, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Ptars, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Campana_producto, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Campana_Tipo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoPtar, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.DescripcionLarga, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.DescripcionCorta, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentValue, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentBaVelocity, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentValueClienteMovil, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentBaVelocityClienteMovil, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.AntiForgeryToken()

            }


        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

