﻿@model Core.Models.Sales.Campana
@using tmkhogares.ViewModel;

@{
    ViewBag.Title = "Edit";
}

@{

    var sel_activo = "";
    var sel_inactivo = "";

    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
    List<Core.Models.configuration.Configuration> Configuraciones = ViewBag.Configuraciones;
    Core.Models.Sales.PaquetesEspecificos Paquete = ViewBag.PaquetesEspecificos;
    if (Paquete == null)
    {
        Paquete = new Core.Models.Sales.PaquetesEspecificos()
        {
            tv = "",
            ba = "",
            Line = "",
            Cod1 = "",
            Cod2 = ""
        };
    }
}




<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Actualizar Campana</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">


            @using (Html.BeginForm())
            {

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DescripcionCorta, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.DescripcionCorta, new { htmlAttributes = new { @class = "form-control" } })


                    </div>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DescripcionLarga, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.DescripcionLarga, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                @*<div class="col-md-3 col-xs-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label " })

                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado)

                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>*@
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoCiudadesId, "TipoCiudadesId", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("TipoCiudadesId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })

                    </div>


                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoProductoId, "TipoProductoId", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("TipoProductoId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Estratos, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Estratos, new { htmlAttributes = new { @class = "form-control", pattern = "[1-6]", placeholder = "123456" } })

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @{
                             sel_activo = "";
                             sel_inactivo = "";

                            if (Model.ClienteFijo == true) { sel_activo = "Selected"; }
                            if (Model.ClienteFijo == false) { sel_inactivo = "Selected"; }
                        }

                        @Html.LabelFor(model => model.ClienteFijo, htmlAttributes: new { @class = "control-label " })
                        <select id="ClienteFijo" name="ClienteFijo" class="form-control">
                            <option value="false" @sel_inactivo>No</option>
                            <option value="true" @sel_activo >si</option>
                        </select>


                    </div>

                </div>


                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteMovil, htmlAttributes: new { @class = "control-label " })
                        @{
                            sel_activo = "";
                            sel_inactivo = "";

                            if (Model.ClienteMovil == true) { sel_activo = "Selected"; }
                            if (Model.ClienteMovil == false) { sel_inactivo = "Selected"; }
                        }

                        <select id="ClienteMovil" name="ClienteMovil" class="form-control">
                            <option value="false" @sel_inactivo>No</option>
                            <option value="true" @sel_activo>si</option>
                        </select>

                    </div>
                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteNuevo, htmlAttributes: new { @class = "control-label " })
                        @{
                            sel_activo = "";
                            sel_inactivo = "";

                            if (Model.ClienteNuevo == true) { sel_activo = "Selected"; }
                            if (Model.ClienteNuevo == false) { sel_inactivo = "Selected"; }
                        }

                        <select id="ClienteNuevo" name="ClienteNuevo" class="form-control">
                            <option value="false" @sel_inactivo>No</option>
                            <option value="true" @sel_activo>si</option>
                        </select>

                    </div>

                </div>
                <br />


                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoOfertaId, "TipoOfertaId", htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("TipoOfertaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                    </div>

                </div>



                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        
                        <label class="control-label">Porcentaje valor descuento %</label>
                        @*@Html.EditorFor(model => model.percentValue, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="text" name="percentValue" value="@Model.percentValue" class="form-control" />

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        
                        <label class="control-label">Porcentaje velocidad</label>
                        @Html.EditorFor(model => model.percentBaVelocity, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>



                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        <label> Porcentaje de velocidad cliente movil</label>

                        @Html.EditorFor(model => model.percentBaVelocityClienteMovil, new { htmlAttributes = new { @class = "form-control" } })


                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.percentValueClienteMovil, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.percentValueClienteMovil, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Campana_producto, htmlAttributes: new { @class = "control-label " })
                        @{
                            var selectedhfc = "";
                            var selecteddth = "";

                            if (Model.Campana_producto != null && Model.Campana_producto.Value == 2) { selectedhfc = "Selected"; }
                            if (Model.Campana_producto != null && Model.Campana_producto.Value == 1) { selecteddth = "Selected"; }
                        }

                        
                        <select id="Campana_producto" name="Campana_producto" class="form-control">
                            <option value="">N/A</option>
                            <option value="2" @selectedhfc>HFC</option>
                            <option value="1" @selecteddth>DTH</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Campana_Tipo, htmlAttributes: new { @class = "control-label " })

                        <select class="form-control select2" id="Campana_Tipo" name="Campana_Tipo">

                            @foreach (Core.Models.configuration.Configuration item in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.ConfiguracionCampana_tipo))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>

                    </div>

                </div>

                <div class="col-md-3 col-xs-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoPtar, htmlAttributes: new { @class = "control-label " })
                        <select value="" class="form-control select2" id="TipoPtar" name="TipoPtar">
                            <option value="">No Aplica</option>
                            @foreach (Core.Models.configuration.Configuration item in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Campana_DependePetar))
                            {
                                if (item.Id == Model.TipoPtar)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>

                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>

                                }
                            }
                        </select>

                    </div>

                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ptars, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Ptars, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label " })
                        @{
                             sel_activo = "";
                             sel_inactivo = "";

                            if (Model.Campana_producto != null && Model.Estado == true) { sel_activo = "Selected"; }
                            if (Model.Campana_producto != null && Model.Estado == false) { sel_inactivo = "Selected"; }
                        }

                        
                        <select id="Estado" name="Estado" class="form-control">
                            <option value="true" @sel_activo>Activo</option>
                            <option value="false" @sel_inactivo>Inactivo</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Actualizar" class="btn btn-danger" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-success", style = "float:right;" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.ValidationMessageFor(model => model.TipoOfertaId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteNuevo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteMovil, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.ClienteFijo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoProductoId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoCiudadesId, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Estratos, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Ptars, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Campana_producto, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Campana_Tipo, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.TipoPtar, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.DescripcionLarga, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.DescripcionCorta, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentValue, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentBaVelocity, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentValueClienteMovil, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.percentBaVelocityClienteMovil, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.AntiForgeryToken()

            }


        </div>
    </div>
</div>

@{
    string Oculto = "";
    if (Model.TipoCiudadesId == null || Model.TipoCiudadesId == new Guid("6bab1ee4-d3ca-4119-ba45-92b4ae91fd49"))
    {
        Oculto = "dn";
    }


}
<input type="hidden" name="idCampana" id="idCampana" value="@Model.Id" />


<!-- #region COINTAINER DE CIUDADES -->
<br />
<br />
<div class="box box-danger @Oculto" id="AdminCampana_containerCiudades">
    <div class="box-header with-border">
        <h3 class="box-title">Ciudades</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">

                <table id="table_campana" class="table table-bordered table-hover" style="zoom:0.9">
                    <thead>
                        <tr>
                            <th>Departamento</th>
                            <th>Ciudad</th>
                            <th><i class="glyphicon glyphicon-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Core.Models.Sales.CiudadCampana CiudadCampana in ViewBag.CiudadCampanas)
                        {
                            <tr>
                                <td>@CiudadCampana.Ciudad.State.Name</td>
                                <td>@CiudadCampana.Ciudad.Name</td>
                                <td><button class="btn btn-warning AdminCampana_btnEliminarCiudad" data-id="@CiudadCampana.Id"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="ayuda_section">
                    <label>Ciudad</label>
                    <div class="ayuda_group">
                        @Html.DropDownList("ciudad", null, "", htmlAttributes: new { @class = "form-control select2", data_nombre = "ciudad", id = "ciudadcampana" })
                    </div>
                </div>
                <br />
                <input type="submit" id="admin_agregarCiudad" value="Agregar Ciudad" class="btn btn-flat btn-block bg-red-active" />
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region CONTAINER DE PAQUETES -->
@{
    Oculto = "";
    if (Model.TipoProductoId == null || Model.TipoProductoId == new Guid("e9d87dc0-70aa-46c2-bae1-c449089dd8ae"))
    {
        Oculto = "dn";
    }


}
<br />
<br />

<div class="box box-danger @Oculto" id="AdminCampana_containerPaquetes">
    <div class="box-header with-border">
        <h3 class="box-title">Paquetes</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Tv</label>


                        <select value="" class="form-control select2" multiple id="tv_adminCampana">
                            @foreach (Core.Models.configuration.Configuration Producto in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.PlanesdeTv))
                            {
                                <option value="@Producto.Id">@Producto.Name</option>
                            }
                        </select>

                    </div>
                </div>


                <div class="col-md-6 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Velocidad</label>


                        <select value="" class="form-control ProductoAyudaVenta select2" multiple id="ba_adminCampana">
                            @foreach (Core.Models.configuration.Configuration Producto in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Megasdevelocidad).OrderBy(c => Int16.Parse(c.Name)))
                            {
                                if (Producto.IntId == 2)
                                {
                                    <option value="@Producto.Id">@Producto.Name MB</option>

                                }
                                else
                                {
                                    <option value="@Producto.Id">@Producto.Name GB</option>

                                }
                            }
                        </select>

                    </div>
                </div>

                <div style="clear:both"></div>

                <div class="col-md-6 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Linea</label>
                        <select value="" class="form-control ProductoAyudaVenta select2" multiple id="linea_adminCampana">
                            @foreach (Core.Models.configuration.Configuration Producto in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.planesMinutos))
                            {
                                <option value="@Producto.Id">@Producto.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Código Hogar</label>
                        <input type="text" name="AdmininCampana_inpCodigoHogar" class="form-control" value="" />
                    </div>
                </div>

                <div class="col-md-3 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Código Soho</label>
                        <input type="text" name="AdmininCampana_inpCodigoSoho" class="form-control" value="" />

                    </div>
                </div>




                <br />
                <input type="submit" id="admin_guardarPaquete" value="Guardar Paquete" class="btn btn-flat btn-block bg-red-active" />
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region CONTAINER DE PLANES -->

<br />
<br />


<div class="box box-danger" id="AdminCampana_containerPlanes">
    <div class="box-header with-border">
        <h3 class="box-title">Planes</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-9 col-xs-3">
                <div class="form-group">
                    <label class="control-label">Plan</label>
                    @Html.DropDownList("TarifaPlenaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control select2" })
                </div>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="form-group">
                    <label class="control-label">Velocidad</label>
                    <input type="text" id="adminPlanes_Velocidad" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato1</label>
                    <input type="text" id="adminPlanes_CEstrato1" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato2</label>
                    <input type="text" id="adminPlanes_CEstrato2" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato3</label>
                    <input type="text" id="adminPlanes_CEstrato3" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato4</label>
                    <input type="text" id="adminPlanes_CEstrato4" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato5</label>
                    <input type="text" id="adminPlanes_CEstrato5" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">CEstrato6</label>
                    <input type="text" id="adminPlanes_CEstrato6" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato1</label>
                    <input type="number" id="adminPlanes_VEstrato1" pattern="[0-9]" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato2</label>
                    <input type="number" id="adminPlanes_VEstrato2" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato3</label>
                    <input type="number" id="adminPlanes_VEstrato3" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato4</label>
                    <input type="number" id="adminPlanes_VEstrato4" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato5</label>
                    <input type="number" id="adminPlanes_VEstrato5" class="form-control" value="" />
                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="form-group">
                    <label class="control-label">VEstrato6</label>
                    <input type="number" id="adminPlanes_VEstrato6" class="form-control" value="" />
                </div>
            </div>


            <br />
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" id="admin_guardarPlan" value="Agregar plan" class="btn btn-flat btn-block bg-red-active" />
                <br />
            </div>
        </div>


        <table id="table_planas" class="table table-bordered table-hover" style="zoom:0.8">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align:center;max-width: 200px;width:200px">Plan</th>
                    <th colspan="6">Códigos Residencial</th>
                    <th colspan="6">Valores</th>
                    <th rowspan="2">velocidad</th>
                    <td>Acciones</td>
                </tr>
                <tr>

                    @* códigos de estrato *@
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    @* códigos soho *@
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>

            </thead>
            <tbody>
                @foreach (Core.Models.Sales.PlanesEspecificos Planes in ViewBag.PlanesEspecificos)
                {
                    <tr>
                        <td style="max-width: 200px !important">@Planes.TarifaPlena.Nombre</td>
                        <td>@Planes.CEstrato1</td>
                        <td>@Planes.CEstrato2</td>
                        <td>@Planes.CEstrato3</td>
                        <td>@Planes.CEstrato4</td>
                        <td>@Planes.CEstrato5</td>
                        <td>@Planes.CEstrato6</td>
                        <td>@Planes.VEstrato1</td>
                        <td>@Planes.VEstrato2</td>
                        <td>@Planes.VEstrato3</td>
                        <td>@Planes.VEstrato4</td>
                        <td>@Planes.VEstrato5</td>
                        <td>@Planes.VEstrato6</td>
                        <td>@Planes.velocidad</td>
                        @if (Planes.DeletedAt != null)
                        {
                            <td><button class="btn btn-danger AdminCampana_btn_estado_plan" data-id="@Planes.Id"><i class="glyphicon glyphicon-lock"></i></button></td>

                        }
                        else
                        {
                            <td><button class="btn btn-success AdminCampana_btn_estado_plan" data-id="@Planes.Id"><i class="glyphicon glyphicon-lock"></i></button></td>

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- #endregion -->
<!-- #region DESCUENTO SECUENCIAL -->


@{
    Oculto = "";
    if (Model.TipoOfertaId == null || Model.TipoCiudadesId != new Guid("a4443c08-b898-4563-a2ab-4750974c0063"))
    {
        Oculto = "dn";
    }


}


<br />
<br />

<div class="box box-danger" id="AdminCampana_containerDescuentoSecuencial">
    <div class="box-header with-border">
        <h3 class="box-title">Descuento secuencial</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table id="table_admincampanaDescuentoSecuencial" class="table table-bordered table-hover" style="zoom:0.9">
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>% Descuento</th>
                            <th>Valo rDescuento</th>
                            <th><i class="glyphicon glyphicon-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Core.Models.Sales.DescuentoSecuencial Descuento in ViewBag.DescuentoSecuencial)
                        {
                            <tr>
                                <td>@Descuento.mes</td>
                                <td>@Descuento.porcentajeDescuento</td>
                                <td>@Descuento.valorDescuento</td>
                                <td><button class="btn btn-warning AdminCampana_btnEliminarDescuentoSecuencial" data-id="@Descuento.Id"><i class="glyphicon glyphicon-trash"></i></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Mes</label>
                        <input type="number" min="1" max="24" id="AdmininCampana_DescuentoMes" class="form-control" value="" />
                    </div>
                </div>


                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label">% descuento</label>
                        <input type="number" id="AdmininCampana_DescuentoPorcentaje" min="1" max="100" class="form-control" value="" />

                    </div>
                </div>


                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Valor descuento</label>
                        <input type="number" id="AdmininCampana_Descuentovalor" class="form-control" value="" />

                    </div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Valor descuento</label>
                        <input type="submit" id="AgregarMesDescuentoSecuencial" value="Agregar Descuento" class="btn btn-flat btn-block bg-red-active" />

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

<!-- #endregion -->








@section Scripts {
    <script>
            const G_Paquete = {
            tv: "@Paquete.tv",
            ba: "@Paquete.ba",
            Line: "@Paquete.Line",
            Cod1: "@Paquete.Cod1",
            Cod2: "@Paquete.Cod2"
        }

        console.log("haciendo un slice");
        updatePaqute(G_Paquete);
        function updatePaqute(paquete) {
            var tv = paquete.tv.split(",");
            var ba = paquete.ba.split(",");
            var linea = paquete.Line.split(",");
            $("#tv_adminCampana").val(tv);
            $("#ba_adminCampana").val(ba);
            $("#linea_adminCampana").val(linea);
            $("#tv_adminCampana,#ba_adminCampana,#linea_adminCampana").select2();
        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/Administrador.js?v=@DateTime.Now.Second"></script>

}
