﻿@model IEnumerable<Core.Models.Sales.Campana>
@using System.Globalization;

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar  
            <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">crear</a>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class=" col-md-3 form-group">
                    <label>Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-road"></i>
                        </div>
                        <input type="text" class="form-control" id="txt_nombre" value="">
                    </div>
                </div>
                <div class="col-md-6 inline-form form-group">
                    <label for=""> Acciones </label>
                    <div class="input-group">
                        <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar Campana</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>

                            <th>
                                Tipo de oferta
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                Duplicado
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.DescripcionCorta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estratos)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TipoOferta.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            @if (item.UpdatedAt != null)
                            {
                                <td>
                                    @item.UpdatedAt.Value.ToString("yyyy-MMMM-dd",new CultureInfo("es-Es"))
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>
                            }

                            <td>
                                @Html.DisplayFor(modelItem => item.DescripcionCorta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estratos)
                            </td>
                            <td>
                                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })*@
                                <a href="@Url.Action("Edit",new { id = item.Id})" class="btn btn-danger"><i class="fa fa-edit"></i></a>
                                <a href="@Url.Action("duplicate",new { id = item.Id})" class="btn btn-warning"><i class="glyphicon glyphicon-duplicate"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

