﻿@model Core.Models.location.City

@{
    ViewBag.Title = "Edit";
}

@{
	ViewBag._Active = "Edit";
	ViewBag._Panel = "Home";
}





	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Editar City</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()
    
							<div class="form-horizontal">
														@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																				@Html.HiddenFor(model => model.Id)

														<div class="form-group">
															@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																<div class="checkbox">
																@Html.EditorFor(model => model.Status)
    																						@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
    																						</div>
															</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.StateId, "StateId", htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																						@Html.DropDownList("StateId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																												@Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<input type="submit" value="Guardar" class="btn btn-success" />
									</div>
								</div>
							</div>
						}

						<div>
							@Html.ActionLink("Regresar", "Index",null,new { @class = "btn btn-danger" })
						</div>
				</div>
			</div>
		</div>
	</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
