﻿@model Core.Models.Gestion.DetalleVenta

@{
    ViewBag.Title = "Create";
}

@{
	ViewBag._Active = "Create";
	ViewBag._Panel = "Home";
}




	<div class="box box-danger">
		<div class="box-header with-border">
			<h3 class="box-title">Crear DetalleVenta</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">

					@using (Html.BeginForm()) 
					{
						@Html.AntiForgeryToken()
    
						<div class="form-horizontal">
												@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																	<div class="form-group">
													@Html.LabelFor(model => model.GestionId, "GestionId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("GestionId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.GestionId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.NombreProducto, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.NombreProducto, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.NombreProducto, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CampanaPague1, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CampanaPague1, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CampanaPague1, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CampanaPromocion, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CampanaPromocion, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CampanaPromocion, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.Valor1, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.Valor1, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.Valor1, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.ValorPromocion, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.ValorPromocion, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.ValorPromocion, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.MegasPromocion, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.MegasPromocion, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.MegasPromocion, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.TVPromocion, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.TVPromocion, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.TVPromocion, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.TipoProducto, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.TipoProducto, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.TipoProducto, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.productoId, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.productoId, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.productoId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CantidadBase, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CantidadBase, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CantidadBase, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Crear" class="btn btn-success" />
								</div>
							</div>
						</div>
					}

					<div>
						@Html.ActionLink("Regresar", "Index",null,new { @class = "btn btn-danger" })
					</div>
				</div>
			</div>
		</div>
	</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
