﻿@model IEnumerable<Core.Models.Gestion.DetalleVenta>

@{
    ViewBag.Title = "Index";
}

@{
	ViewBag._Active = "Index";
	ViewBag._Panel = "Home";
}



<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Listar</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<div class=" col-md-3 form-group">
					<label>Nombre</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-road"></i>
						</div>
						<input type="text" class="form-control" id="txt_nombre" value="">
					</div>
				</div>
				<div class="col-md-6 inline-form form-group">
					<label for=""> Acciones </label>
					<div class="input-group">
						<input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Listar DetalleVenta</h3>
	</div><!-- /.box-header -->
	<div class="box-body">

		<div class="row">
			<div class="col-md-12">
				<table id="tabla" class="table table-bordered table-hover">
					<thead>
						<tr>
																							<th>
										@Html.DisplayNameFor(model => model.Gestion.Ip)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.NombreProducto)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CampanaPague1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CampanaPromocion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Descripcion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Valor1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ValorPromocion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.MegasPromocion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TVPromocion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TipoProducto)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.productoId)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.cantidad)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CantidadBase)
									</th>
																<th>Acciones</th>
							</tr>
					</thead>
					<tbody>

							@foreach (var item in Model) {
								<tr>
																							<td>
										@Html.DisplayFor(modelItem => item.Gestion.Ip)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.NombreProducto)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CampanaPague1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CampanaPromocion)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Descripcion)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Valor1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ValorPromocion)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.MegasPromocion)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TVPromocion)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TipoProducto)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.productoId)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.cantidad)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CantidadBase)
									</td>
																<td>
										@Html.ActionLink("Editar", "Edit", new { id=item.Id }, new {  @class = "btn btn-xs btn-success" })
										@Html.ActionLink("Detalle", "Details", new { id=item.Id }, new {  @class = "btn btn-xs btn-default" })
										@Html.ActionLink("Eliminar", "Delete", new { id=item.Id } , new {  @class = "btn btn-xs btn-danger" })
									</td>
															</tr>
							}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

