﻿
@{
    ViewBag.Title = "Index";

}
@model  Core.Models.Security.AccountsViewModel

<style>
    img.logo{
        /*box-shadow: 5px 5px 500px  #ff0000;*/
        margin-bottom: 20px;
        width: 300px;
    }
    /*.croseling{
        height: 60vh;
        width: 100vw;
    }*/
</style>
<div class="row">
    <div class="col-md-3">
        @*<img src="~/Content/images/uno27_claro.png"  class="logo croseling" />*@
    </div>
    <div class="col-xs-12 col-md-8">
        @*<img src="~/Content/images/logo2.png" class="logo" />*@
        <img src="~/Content/images/logo1.png" class="logo" />

    </div>
    <div class="col-md-3">
        @*<img src="~/Content/images/uno27_claro.png"  class="logo croseling" />*@
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Ingresar</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                {

                    <div class="form-group">
                        <br />
                        <label class="control-label col-md-2">Login</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Accounts.UserName, new { htmlAttributes = new { @class = "form-control", autofocus = "" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <br />
                        <br />

                        <label class="control-label col-md-2">contraseña</label>
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Accounts.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <br />
                            <input type="submit" name="send" value="Ingresar" class="btn btn-success" />
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Error</div>
                            }
                        </div>
                    </div>


                }
            </div>
        </div>

    </div>
</div>

