﻿@model Core.Models.Sales.TarifaPlena

@{
    ViewBag.Title = "Create";
}

@{
	ViewBag._Active = "Create";
	ViewBag._Panel = "Home";
}



	<div class="box box-danger">
		<div class="box-header with-border">
			<h3 class="box-title">Crear TarifaPlena</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">

					@using (Html.BeginForm()) 
					{
						@Html.AntiForgeryToken()
    
						<div class="form-horizontal">
												@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																	<div class="form-group">
													@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.TvId, "TvId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("TvId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.TvId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.LineId, "LineId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("LineId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.BaId, "BaId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("BaId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.BaId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.TvName, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.TvName, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.TvName, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.LineName, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.LineName, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.LineName, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.BaName, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.BaName, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.BaName, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.TipoPlanId, "TipoPlanId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("TipoPlanId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.TipoPlanId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.BaVelocity, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.BaVelocity, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.BaVelocity, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato1, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato1, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato1, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato2, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato2, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato2, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato3, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato3, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato3, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato4, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato4, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato4, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato5, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato5, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato5, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CEstrato6, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CEstrato6, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CEstrato6, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato1, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato1, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato1, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato2, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato2, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato2, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato3, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato3, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato3, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato4, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato4, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato4, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato5, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato5, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato5, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.CSEstrato6, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.CSEstrato6, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.CSEstrato6, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato1, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato1, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato1, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato2, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato2, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato2, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato3, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato3, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato3, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato4, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato4, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato4, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato5, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato5, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato5, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.VEstrato6, htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
														@Html.EditorFor(model => model.VEstrato6, new { htmlAttributes = new { @class = "form-control" } })
					
																			@Html.ValidationMessageFor(model => model.VEstrato6, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Crear" class="btn btn-success" />
								</div>
							</div>
						</div>
					}

					<div>
						@Html.ActionLink("Regresar", "Index",null,new { @class = "btn btn-danger" })
					</div>
				</div>
			</div>
		</div>
	</div>
