﻿@model List<Core.ViewModel.gestionesDisponiblesVM>
@using Core.Models.Security

@using tmkhogares.ViewModel
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        @ViewBag.titulo
    </h1>
</section>
<br />

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Solicitar Gestion | ventas Disponibles para solicitar <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="@ViewBag.ventas Ventas disponibles">@ViewBag.ventas</span></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row" >
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-md-6 inline-form form-group">
                        
                        <div class="input-group">
                            @using (Html.BeginForm("solicitarGestionAuditado", "GestionActivacion"))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-success" value="Solicitar" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(ViewBag.mensaje))
    {
        <div class="alert alert-danger" role="alert">
            No hay ventas disponibles para solicitar
        </div>
    }






<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de @ViewBag.titulo</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                       <tr>
                            <th>
                               Gestion
                            </th>
                            <th>
                               Fecha venta
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Plataforma
                            </th>
                            <th>
                                Campana
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Vdn
                            </th>
                            <th>
                                Canal
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GestionId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plataforma)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Campana)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vdn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoLLamada)
                            </td>
                            <td>
                                @* VENTA DE HOGARES *@
                                @if (item.Plataforma == "hogares")

                                {
                                    @Html.ActionLink("Gestionar", "Gestionar", new { id = item.Id , popup = 1 }, new { @class = "btn bg-blue" })
                                    @Html.ActionLink("Editar", "ModificarGestionBack", "AyudasDetalleVenta", new { id = item.GestionId }, new { @class = "btn  btn-success" })

                                }
                                else
                                {
                                    @*@Html.ActionLink("Gestionar", "Gestionar", new { id = item.GestionActivacionId }, new { @class = "btn bg-blue" })*@
                                    <div  class="enlacediv btn bg-blue" href="http://appweb.uno27.com:8080/clarocolombia/index2.php?p=grabaciones&carp=31&opc2=detalleV&gestion=@item.GestionId&popa=1&origenPopa=1">Gestionar</div>
                                }

                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>



        $(".enlacediv").on('click', function () {
            var url = $(this).attr('href')
            var ventana = window.open(url, "_blank ")
            ventana.focus();
             var monitor = setInterval(function() {

                 if (ventana.closed) {
                     window.location.href = window.location.href;
                }

         }, 1000);
        })
    </script>    
}