﻿@model Core.Models.Sales.CiudadCampana

@{
    ViewBag.Title = "Delete";
}

@{
	ViewBag._Active = "Delete";
	ViewBag._Panel = "Home";
}


<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">¿Esta seguro que desea eliminar este elemento?</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campana.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campana.Nombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Ciudad.Name)
								</th>

								<td>
									@Html.DisplayFor(model => model.Ciudad.Name)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CiudadNombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.CiudadNombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>

											</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Eliminar" class="btn btn-danger" /> 
				@Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-default" })
			</div>
		}
</div>
