﻿@model IEnumerable<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class=" col-md-3 form-group">
                    <label>Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-road"></i>
                        </div>
                        <input type="text" class="form-control" id="txt_nombre" value="">
                    </div>
                </div>
                <div class="col-md-6 inline-form form-group">
                    <label for=""> Acciones </label>
                    <div class="input-group">
                        <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar User</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Names)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PassWord)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.login)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PassWord)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.login)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn  btn-success btn-flat margin" })
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-flat margin" })
                                    @Html.ActionLink("Perfiles", "Roles", new { id = item.Id }, new { @class = "btn bg-orange btn-flat margin" })
                                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

