﻿@model Core.Models.Sales.TarifaPlena

@{
    ViewBag.Title = "Delete";
}

@{
	ViewBag._Active = "Delete";
	ViewBag._Panel = "Home";
}


<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">¿Esta seguro que desea eliminar este elemento?</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Ba.Name)
								</th>

								<td>
									@Html.DisplayFor(model => model.Ba.Name)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Line.Name)
								</th>

								<td>
									@Html.DisplayFor(model => model.Line.Name)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Producto.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.Producto.Nombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TipoPlan.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.TipoPlan.Nombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Tv.Name)
								</th>

								<td>
									@Html.DisplayFor(model => model.Tv.Name)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.Nombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TvName)
								</th>

								<td>
									@Html.DisplayFor(model => model.TvName)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.LineName)
								</th>

								<td>
									@Html.DisplayFor(model => model.LineName)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.BaName)
								</th>

								<td>
									@Html.DisplayFor(model => model.BaName)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.BaVelocity)
								</th>

								<td>
									@Html.DisplayFor(model => model.BaVelocity)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato5)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato6)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato5)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato6)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato5)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato6)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Estado)
								</th>

								<td>
									@Html.DisplayFor(model => model.Estado)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TarifaEspecial)
								</th>

								<td>
									@Html.DisplayFor(model => model.TarifaEspecial)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>

											</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Eliminar" class="btn btn-danger" /> 
				@Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-default" })
			</div>
		}
</div>
