﻿@model Core.Models.Oferta.ServiciosPrincipalesProductos

@{
    ViewBag.Title = "Create";
}

@{
	ViewBag._Active = "Create";
	ViewBag._Panel = "Home";
}




	<div class="box box-danger">
		<div class="box-header with-border">
			<h3 class="box-title">Crear ServiciosPrincipalesProductos</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">

					@using (Html.BeginForm()) 
					{
						@Html.AntiForgeryToken()
    
						<div class="form-horizontal">
												@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																	<div class="form-group">
													@Html.LabelFor(model => model.ProductoOfrecidoId, "ProductoOfrecidoId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("ProductoOfrecidoId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.ProductoOfrecidoId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
													@Html.LabelFor(model => model.ServicioId, "ServicioId", htmlAttributes: new { @class = "control-label col-md-2" })
													<div class="col-md-10">
																			@Html.DropDownList("ServicioId", null , "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																								@Html.ValidationMessageFor(model => model.ServicioId, "", new { @class = "text-danger" })
																		</div>
							</div>

												<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Crear" class="btn btn-success" />
								</div>
							</div>
						</div>
					}

					<div>
						@Html.ActionLink("Regresar", "Index",null,new { @class = "btn btn-danger" })
					</div>
				</div>
			</div>
		</div>
	</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
