﻿@model tmkhogares.ViewModel.GestionVM
@using tmkhogares.ViewModel;

@{
    /**/
    ViewBag.Title = "Detalle";
    List<Core.Models.Gestion.Productos> productos = ViewBag.productos;


    //...


    string Evidencia_IdVision = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Gestion.Id + "_tipo_E" + ".jpg";
    string Evidencia_Evidente = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Gestion.Id + "_tipo_D" + ".jpg";
    string Evidencia_RR = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Gestion.Id + "_tipo_R" + ".jpg";
    string Evidencia_MiEn = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Gestion.Id + "_tipo_M" + ".jpg";
    string EvidenciatelefonoUbica = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Gestion.Id + "_tipo_tu" + ".jpg";

    string local_IdVision = "Gestion_" + Model.Gestion.Id + "_tipo_E" + ".jpg";
    string local_Evidente = "Gestion_" + Model.Gestion.Id + "_tipo_D" + ".jpg";
    string local_RR = "Gestion_" + Model.Gestion.Id + "_tipo_R" + ".jpg";
    string local_MiEn = "Gestion_" + Model.Gestion.Id + "_tipo_M" + ".jpg";
    string local_TelefonoUbica = "Gestion_" + Model.Gestion.Id + "_tipo_tu" + ".jpg";

    // obtener evidente.



    var path = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_Evidente));
    var pathIdVision = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_IdVision));
    var pathRR = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_RR));
    var pathMiEn = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_MiEn));
    var pathTelefonoUbica = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(EvidenciatelefonoUbica));


    if (File.Exists(Evidencia_Evidente))
    {
        System.IO.File.Copy(Evidencia_Evidente, path, true);
    }
    if (File.Exists(Evidencia_IdVision))
    {
        System.IO.File.Copy(Evidencia_IdVision, pathIdVision, true);
    }
    if (File.Exists(Evidencia_RR))
    {
        System.IO.File.Copy(Evidencia_RR, pathRR, true);
    }
    if (File.Exists(Evidencia_MiEn))
    {
        System.IO.File.Copy(Evidencia_MiEn, pathMiEn, true);
    }

    if (File.Exists(EvidenciatelefonoUbica))
    {
        System.IO.File.Copy(EvidenciatelefonoUbica, pathTelefonoUbica, true);
    }





    //but if you want to paste it on specific drive then you can use following code
    // System.IO.File.Copy("sourcePath", "\\machinename\DriveLetter$\folder name");
    //e.g. System.IO.File.Copy("D:\\test.txt", "\\machinename\E$\test\test.txt");

}
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "/Resources/notfound.jpg";
        return true;
    }
</script>


<!-- ------------------------------------------------------------------------ -->
<!--|        DATOS DEL CLIENTE.                                              |-->
<!-- ------------------------------------------------------------------------ -->

<div class="row">
    <div class="col-md-12">
        <h4 style="background-color:#DD4B39; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            DATOS BASICOS DEL CLIENTE
        </h4>
        <div class="panel panel-body">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Gestion</th>
                        <th>Carga</th>
                        <th>Tipo de Base</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Gestion.Id.ToString()</td>
                        <td>@Model.cliente.Carga.Nombre</td>
                        <td> @productos.Where(c => c.Id == Model.cliente.car_ProductoId).FirstOrDefault().Nombre</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

    <br />
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">Información Basica</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong>Nombre</strong> <span class="pull-right  bg-default">@Model.cliente.NOMBRE_CLIENTE</span></a></li>
                    <li><a><strong>Contrato</strong> <span class="pull-right  bg-default">@Model.cliente.CONTRATO_CUSTCODE</span></a></li>
                    <li><a><strong>Cuenta</strong> <span class="pull-right  bg-default">@Model.cliente.CUENTA_CO_ID</span></a></li>
                    <li><a><strong>TIPO CLIENTE</strong> <span class="pull-right  bg-default">@Model.cliente.TIPO_CLIENTE</span></a></li>
                    <li class="active"><a><strong>ESTRATO </strong> <span class="pull-right  bg-default">@Model.cliente.ESTRATO</span></a></li>
                    <li><a><strong>Documento </strong> <span class="pull-right  bg-default">@Model.cliente.NUMERO_IDENTIFICACION</span></a></li>
                    <li><a><strong>CALIFICACION _CLIENTE </strong> <span class="pull-right  bg-default">@Model.cliente.CALIFICACION_CLIENTE</span></a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">Información de Contacto</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong>Ciudad </strong> <span class="pull-right  bg-default">@Model.cliente.CIUDAD</span></a></li>
                    <li><a><strong>Dirección </strong> <span class="pull-right  bg-default">@Model.cliente.DIRECCION</span></a></li>
                    <li><a><strong>TELEFONO 1 </strong> <span class="pull-right  bg-default">@Model.cliente.TELEFONO_1</span></a></li>
                    <li><a><strong>TELEFONO 2</strong> <span class="pull-right  bg-default">@Model.cliente.TELEFONO_2</span></a></li>
                    <li><a><strong>TELEFONO 3</strong> <span class="pull-right  bg-default">@Model.cliente.TELEFONO_3</span></a></li>
                    <li><a><strong>Celular 1 </strong> <span class="pull-right  bg-default">@Model.cliente.CELULAR_1</span></a></li>
                    <li><a><strong>Celular 2 </strong> <span class="pull-right  bg-default">@Model.cliente.CELULAR_2</span></a></li>
                    <li><a><strong>EMAIL</strong> <span class="pull-right  bg-default">@Model.cliente.EMAIL</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">Información Comercial</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong>zona </strong> <span class="pull-right  bg-default">@Model.cliente.ZONA_COMERCIAL</span></a></li>
                    <li><a><strong>ZONA_COMERCIAL </strong> <span class="pull-right  bg-default">@Model.cliente.ZONA_COMERCIAL</span></a></li>
                    <li><a><strong>EQUIPO_ACTUAL </strong> <span class="pull-right  bg-default">@Model.cliente.EQUIPO_ACTUAL</span></a></li>
                    <li><a><strong>AREA_COMERCIAL </strong> <span class="pull-right  bg-default">@Model.cliente.AREA_COMERCIAL</span></a></li>
                    <li><a><strong>NODO </strong> <span class="pull-right  bg-default">@Model.cliente.NODO</span></a></li>
                    <li><a><strong>DIVISION </strong> <span class="pull-right  bg-default">@Model.cliente.DIVISION</span></a></li>
                    <li><a><strong>DES_TMCODE </strong> <span class="pull-right  bg-default">@Model.cliente.DES_TMCODE</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------ -->
<!--|        DATOS DE LA VENTA.                                              |-->
<!-- ------------------------------------------------------------------------ -->

<div class="row">
    <div class="col-md-12">

        <h4 style="background-color:#b73f30; color:white; font-size: 18px; text-align: center; padding: 7px 10px;" class="mt-20">
            DATOS DE LA VENTA
        </h4>

    </div>

    @{
        string Coordinador = "", Ciudad = "", Departamento = "";

        if (Model.Asesor.CoordinadorId != null)
        {
            Coordinador = Model.Asesor.Coordinador.Names + " " + Model.Asesor.Coordinador.LastName;
        }
        if (Model.Gestion.captura_ciudadId != null)
        {
            Ciudad = Model.Gestion.captura_ciudad.Name;
            Departamento = Model.Gestion.captura_ciudad.State?.Name;
        }

    }

    <br />
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header">Datos del cliente</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong> IdGestión,</strong> <span id="span_gestionId" class="pull-right bg-default">@Model.Gestion.Id</span></a></li>
                    <li><a><strong> TelefonoDeLaLlamada</strong> <span class="pull-right bg-default">@Model.Gestion.TelefonoLlamada</span></a></li>
                    <li><a><strong> Fecha</strong> <span class="pull-right bg-default">@Model.Gestion.CreatedAt</span></a></li>
                    <li><a><strong> Permanencia</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_PERMANENCIA</span></a></li>
                    <li><a><strong> Coordinador</strong> <span class="pull-right bg-default"></span></a></li>
                    <li><a><strong> NombreCompletoCliente</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_NOMBRE_COMPLETO_CLIENTE</span></a></li>
                    <li><a><strong> TipoCedula</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_tipodoc</span></a></li>
                    <li><a><strong> NumeroDeDocumento</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_NUMERO_CEDULA</span></a></li>
                    <li><a><strong> FechaDeExpedición</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_fechaExped</span></a></li>
                    <li><a><strong> LugarDeExpedición</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_LUGAREXPEDICION</span></a></li>
                    <li><a><strong> TipoDeCliente</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_TIPODE_DE_CLIENTE</span></a></li>
                    <li><a><strong> TipoDeSolicitud</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_TIPO_DE_SOLICITUD</span></a></li>
                    <li><a><strong> Multiplay</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_MULTIPLAY</span></a></li>
                    <li><a><strong> CuentaVenta</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_CUENTA_VENTA</span></a></li>
                    <li><a><strong> CuentaMatriz</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_CUENTA_MATRIZ</span></a></li>
                    <li><a><strong> TipoDeRed</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_TIPO_DE_RED</span></a></li>
                    <li><a><strong> Dirección</strong> <span class="pull-right bg-default">@Model.Gestion.captura_Direccion</span></a></li>
                    <li><a><strong> Barrio</strong> <span class="pull-right bg-default">@Model.Gestion.captura_barrio</span></a></li>
                    <li><a><strong> Departamento</strong> <span class="pull-right bg-default">@Departamento</span></a></li>
                    <li><a><strong> Ciudad</strong> <span class="pull-right bg-default">@Ciudad</span></a></li>



                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header">Información Comercial</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong> NúmeroDelTelefonoFijo</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_TELEFONO_FIJO</span></a></li>
                    <li><a><strong> Celular</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_CELULAR</span></a></li>
                    <li><a><strong> OperadorActual</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_OPERADOR_ACTUAL</span></a></li>
                    <li><a><strong> Estrato</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_Estrato</span></a></li>
                    <li><a><strong> EntregaCorrespondencia</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_ent_correspondencia</span></a></li>
                    <li><a><strong> CorreoElectronico</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_Captura_Email</span></a></li>
                    <li><a><strong> CódigoVendedor</strong> <span class="pull-right bg-default">@Model.Asesor.login</span></a></li>
                    <li><a><strong> CedulaDelVendedor</strong> <span class="pull-right bg-default">@Model.Asesor.Document</span></a></li>
                    <li><a><strong> Asesor</strong> <span class="pull-right bg-default">@Model.Asesor.Names  @Model.Asesor.LastName</span></a></li>
                    <li><a><strong> CampanaPromocion</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_CAMPANA</span></a></li>
                    <li><a><strong> Política</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_POLITICA</span></a></li>
                    <li><a><strong> CobroDeInstalación</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_cobroInstalacion</span></a></li>
                    <li><a><strong> Tarifa</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_RENTA_MENSUAL</span></a></li>
                    <li><a><strong> RentaMensual</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_rentaMensual</span></a></li>
                    <li><a><strong> ActualizarTarifa</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_ActualizarTarifa</span></a></li>
                    <li><a><strong> Fecha Agendamiento</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_fechaAgendamiento</span></a></li>
                    <li><a><strong> Franja</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_franja</span></a></li>
                    <li><a><strong> Observación</strong> <span class="pull-right bg-default">@Model.Gestion.captura_Observacion</span></a></li>
                    <li><a><strong> Código Evidente</strong> <span class="pull-right bg-default">@Model.Gestion.CODIGO_EVIDENTE</span></a></li>
                    <li><a><strong> IdVisión</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA__ID_VISION</span></a></li>
                    <li><a><strong> Canal</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_CANAL</span></a></li>




                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header">Datos de la venta</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong> ServiciosActuales</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_captura_serviciosActuales</span></a></li>
                    <li><a><strong> ServiciosVendidos</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_SERVICIOS_VENDIDOS</span></a></li>
                    <li><a><strong> CantidadDeServicios</strong> <span class="pull-right bg-default">@Model.Gestion.Venta_CantidadDeServicios</span></a></li>
                    <li><a><strong> TV_Básica_Avanzada_Superior</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_AVANZADA</span></a></li>
                    <li><a><strong> Velocidad</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_VELOCIDAD_M</span></a></li>
                    <li><a><strong> TomasAdicionalesTV</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_TOMAS_ADICIONALES_TV</span></a></li>
                    <li><a><strong> DecosAdicionales</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_DECOSADICIONALES</span></a></li>
                    <li><a><strong> RechazoBack</strong> <span class="pull-right bg-default">@Model.Gestion.VENTA_RECHAZO_BACK</span></a></li>

                    <li><a><strong>ObservaciónBack</strong> <span class="pull-right bg-default">@Model.Gestion.seguimiento_obs</span></a></li>
                    <li><a><strong>FechaTipificacion</strong> <span class="pull-right bg-default">@Model.Gestion.cantadaEn</span></a></li>
                    <li><a><strong>IdCliente</strong> <span class="pull-right bg-default">@Model.cliente.Id</span></a></li>
                    <li><a><strong>IdCargaBase</strong> <span class="pull-right bg-default">@Model.cliente.CargaId</span></a></li>
                    <li><a><strong>vdnLlamada </strong> <span class="pull-right bg-default">@Model.Gestion.vdnLlamada</span></a></li>
                    <li><a><strong>Tipificacion</strong> <span class="pull-right bg-default">@Model.Gestion.Tipificacion.Nombre</span></a></li>
                    <li><a><strong>descripcionTipificacion</strong> <span class="pull-right bg-default">@Model.Gestion.Tipificacion.Descripcion</span></a></li>
                    <li><a><strong>TipificacionClaro</strong> <span class="pull-right bg-default">@Model.Gestion.Tipificacion.codigoClaro</span></a></li>
                    <li><a><strong>telefonContacto1</strong> <span class="pull-right bg-default">@Model.Gestion.captura_telefono1</span></a></li>
                    <li><a><strong>telefonContacto2</strong> <span class="pull-right bg-default">@Model.Gestion.captura_telefono2</span></a></li>
                    <li><a><strong>presence_Id</strong> <span id="presence_Id" class="pull-right bg-default">@Model.Gestion.presence_Id</span></a></li>


                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h4 style="background-color:#291264; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            PRODUCTOS VENDIDOS
        </h4>
        <div class="box box-default">
            <div class="box-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th colspan="13" class="text-center bg-light-blue">Carrito de ventas</th>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Valor</th>
                            <th>Valor Prom</th>
                            <th>N.Servicios</th>
                            <th>Promocion</th>
                            <th>Campaña1</th>
                            <th>Ptar Promocion</th>
                            <th>Promocion Megas</th>
                            <th>N.Upgrade</th>
                            <th>N.Nuevos</th>
                            <th>Total</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_ventaProductos">
                        @{
                            decimal? TotalProductos = 0;


                        }
                        @foreach (var Detalle in ((List<Core.Models.Gestion.DetalleVenta>)ViewBag.ItemsVenta))
                        {
                            int cantidadVendida = Detalle.CantidadUpgrade + Detalle.CantidadNuevos;
                            decimal? total = Detalle.ValorPromocion * Detalle.cantidad;

                            TotalProductos = TotalProductos + @total;

                            <tr data-id="@Detalle.Id">
                                <td>@Detalle.Id</td>
                                <td>@Detalle.NombreProducto</td>
                                <td>@Detalle.Valor1</td>
                                <td>@Detalle.ValorPromocion</td>
                                <td>@cantidadVendida</td>
                                <td>@Detalle.ValorPromocion</td>
                                <td>@Detalle.CampanaPague1</td>
                                <td>@Detalle.CampanaPromocion</td>
                                <td>@Detalle.MegasPromocion</td>
                                <td>@Detalle.CantidadUpgrade</td>
                                <td>@Detalle.CantidadNuevos</td>
                                <td>@total</td>
                                <td>
                                    <button data-id="@Detalle.Id" class='btn btn-danger eliminarProducto'><i class='glyphicon glyphicon-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="Resumen">
                            <th colspan="2" class="bg-red">Total</th>
                            <th colspan="2" id="resumen_datos">@TotalProductos</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>




    </div>

    <div class="col-md-12">
        <h4 style="background-color:#291264; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            GRABACIONES
        </h4>
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <p class="header">Comercialización de Gestion</p>
                        <p class="btn bg-blue-active bg" id="consultarComercializacion">Consultar</p>
                        <p id="audioComercializacion">

                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="header">Grabación Recuperación</p>
                        <p class="btn bg-blue-active bg" id="consultarRecuperacion">Consultar</p>
                    </div>
                    <div class="col-md-3">
                        <p class="header">Grabacion Lectura de contrato</p>
                        <p class="btn bg-blue-active bg" id="consultarGrabacionLecturaContrato">Consultar</p>
                        <p id="audioContrato">

                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="header">Subir lectura de contrato</p>
                        <input type="file" name="fileUploadAvaya" id="fileUploadAvaya" accept=".mp3">
                        <p class="btn bg-blue-active bg" id="cargarGrabacionAvaya">Subir</p>
                        <p id="ResultadoGrabacion"></p>
                    </div>
                </div>

            </div>
        </div>




    </div>

    <div class="col-md-12">
        <h4 style="background-color:#0e7241; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            EVIDENCIAS
        </h4>
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="btn-block">Id Vision</label>
                    <img src="/Resources/@local_IdVision" onerror="imgError(this)" class="img-responsive img-rounded" alt="Cinque Terre">
                </div>
                <div class="col-md-3">
                    <label class="btn-block">datacredito</label>
                    <img src="/Resources/@local_Evidente" class="img-responsive img-rounded" onerror="imgError(this)" alt="Cinque Terre">
                </div>

                <div class="col-md-3">
                    <label class="btn-block">RR</label>
                    <img src="/Resources/@local_RR" class="img-responsive img-rounded" onerror="imgError(this)" alt="Cinque Terre">
                </div>

                <div class="col-md-3">
                    <label class="btn-block">Mi enlace</label>
                    <img src="/Resources/@local_MiEn" class="img-responsive img-rounded mostrarModalEvidencia" onerror="imgError(this)" alt="Cinque Terre">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <label class="btn-block">Teléfono ubica</label>
                    <img src="/Resources/@local_TelefonoUbica" class="img-responsive img-rounded mostrarModalEvidencia" onerror="imgError(this)" alt="Cinque Terre">
                </div>


            </div>
        </div>


    </div>

</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="" id="viewImgNewPage" target="_imgview">
                    <img src="/Resources/@local_RR" class="imgVista img-rounded" style="width:90%;" onerror="imgError(this)">
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/app/GestionArchivos.js?v=2"></script>

    <script>
        $("body").on("click", ".img-responsive", function () {
            $(".imgVista").attr("src", $(this).attr("src"));
            $("#viewImgNewPage").attr("href", $(this).attr("src"));
            $(".modal").modal().show();
        })
    </script>


}






<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>
