﻿@model Core.Models.Gestion.Gestion


<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "/Resources/notfound.jpg";
        image.width = "300";
        image.heigth = "150";
        return true;
    }

    $("body").on("click", ".img-responsive", function () {
        $(".imgVista").attr("src", $(this).attr("src"));
        $("#viewImgNewPage").attr("href", $(this).attr("src"));
        $("#modalData").modal();
    })

</script>

@if (Model == null)
{
    <h4 style="background-color:#0e7241; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
        EVIDENCIAS DE LA VENTA.
    </h4>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-4">
                <label class="btn-block">Id Vision</label>
                <img src="/Resources/notfound.jpg" onerror="imgError(this)" class="img-responsive img-rounded" width="200" height="200" alt="Cinque Terre">
            </div>
            <div class="col-md-4">
                <label class="btn-block">datacredito</label>
                <img src="/Resources/notfound.jpg" class="img-responsive img-rounded" onerror="imgError(this)" width="200" height="200" alt="Cinque Terre">
            </div>

            <div class="col-md-4">
                <label class="btn-block">RR</label>
                <img src="/Resources/notfound.jpg" class="img-responsive img-rounded" onerror="imgError(this)" width="200" height="200" alt="Cinque Terre">
            </div>
            <div class="col-md-4">
                <label class="btn-block">Mi enlace</label>
                <img src="/Resources/notfound.jpg" class="img-responsive img-rounded" onerror="imgError(this)" width="200" height="200" alt="Cinque Terre">
            </div>

        </div>
    </div>
}
else
{


    string Evidencia_IdVision = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Id + "_tipo_E" + ".jpg";
    string Evidencia_Evidente = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Id + "_tipo_D" + ".jpg";
    string Evidencia_RR = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Id + "_tipo_R" + ".jpg";
    string Evidencia_MiEn = @"\\172.16.5.132\Repositorio_Aplicaciones\imagenes_tmk_hogares\Gestion_" + Model.Id + "_tipo_M" + ".jpg";

    string local_IdVision = "Gestion_" + Model.Id + "_tipo_E" + ".jpg";
    string local_Evidente = "Gestion_" + Model.Id + "_tipo_D" + ".jpg";
    string local_RR = "Gestion_" + Model.Id + "_tipo_R" + ".jpg";
    string local_MiEn = "Gestion_" + Model.Id + "_tipo_M" + ".jpg";


    // obtener evidente.



    var path = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_Evidente));
    var pathIdVision = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_IdVision));
    var pathRR = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_RR));
    var pathMiEn = Path.Combine(Server.MapPath("~/Resources/"), Path.GetFileName(Evidencia_MiEn));



    if (File.Exists(Evidencia_Evidente))
    {
        System.IO.File.Copy(Evidencia_Evidente, path, true);
    }
    if (File.Exists(Evidencia_IdVision))
    {
        System.IO.File.Copy(Evidencia_IdVision, pathIdVision, true);
    }
    if (File.Exists(Evidencia_RR))
    {
        System.IO.File.Copy(Evidencia_RR, pathRR, true);
    }
    if (File.Exists(Evidencia_MiEn))
    {
        System.IO.File.Copy(Evidencia_MiEn, pathMiEn, true);
    }


    <h4 style="background-color:#0e7241; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
        EVIDENCIAS DE LA VENTA.
    </h4>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-3">
                <label class="btn-block">Id Vision</label>
                <img src="/Resources/@local_IdVision" onerror="imgError(this)" class="img-responsive img-rounded" alt="Cinque Terre">
            </div>
            <div class="col-md-3">
                <label class="btn-block">datacredito</label>
                <img src="/Resources/@local_Evidente" class="img-responsive img-rounded" onerror="imgError(this)" alt="Cinque Terre">
            </div>

            <div class="col-md-3">
                <label class="btn-block">RR</label>
                <img src="/Resources/@local_RR" class="img-responsive img-rounded" onerror="imgError(this)" alt="Cinque Terre">
            </div>
            <div class="col-md-3">
                <label class="btn-block">Mi enlace</label>
                <img src="/Resources/@local_MiEn" class="img-responsive img-rounded" onerror="imgError(this)" alt="Cinque Terre">
            </div>

        </div>
    </div>

}

