﻿@model IEnumerable<Core.Models.Gestion.Gestion>
@using Core.Models.Security
@using tmkhogares.ViewModel
@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";

    

}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class=" col-md-3 form-group">
                        <label>Id Gestion</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            <input type="number" class="form-control" id="id" name="id" value="@ViewBag.Id">
                        </div>
                    </div>
                    <div class="col-md-6 inline-form form-group">
                        <label for=""> Acciones </label>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar Gestion</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Identificacion
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.AntiForgeryToken()
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.VENTA_NOMBRE_COMPLETO_CLIENTE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VENTA_NUMERO_CEDULA)
                                </td>
                                <td>

                                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn  btn-default" })


                                    @if (SessionPersister.HasRol("Administrador")
                                        && (_EstadosGestion.LEstadosCaida.Contains(item.EstadoId))
                                     )
                                    {
                                        <button class="btn bg-blue-active recuperarVenta" data-id="@item.Id">Recuperar</button>

                                    }

                                    @if (SessionPersister.HasRol("Administrador")
                                        && (_EstadosGestion.LEstadosAprobados.Contains(item.EstadoId))
                                        )
                                    {
                                        <button class="btn bg-blue-active recuperarVenta" data-id="@item.Id">Reiniciar a venta cantada</button>

                                    }


                                    @if (
                                        SessionPersister.HasRol("Administrador")  && 
                                        (_EstadosGestion.LEstadosAprobados.Contains(item.EstadoId)  || item.EstadoId == _EstadosGestion.VentaCantada )
                                        )
                                    {
                                        <button class="btn bg-fuchsia-active reiniciarAPreventa" data-id="@item.Id">Devolver a Preventa</button>

                                    }

                                    @if (SessionPersister.HasRol("Administrador")
                                        && (_EstadosGestion.NoVenta ==  item.EstadoId)
                                        )
                                    {
                                        <button class="btn bg-orange-active recuperarVenta" data-id="@item.Id">Convertir en venta</button>

                                    }



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

