﻿@model IEnumerable<Core.Models.Gestion.Gestion>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
    ViewBag.Title = "mis ventas";
    Layout = "../Shared/_LayoutAsesor.cshtml";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar Gestion</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Estado
                            </th>
                            <th>
                               Cliente
                            </th> 
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.captura_Nombre)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

