﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Home_Create";
    ViewBag._Panel = "Home";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">CREAR @ViewBag.Name</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Configtype" value="@ViewBag.Configtype" />
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">@ViewBag.ColumName</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Descripción</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input type="hidden" name="IntId" value="@ViewBag.Configtype" />

                        <div class="form-group">
                            <label class="control-label col-md-2">Estado</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <select name="Status" class="form-control">
                                        <option value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

      
                        <div class="form-group">
                            <input type="hidden" name="CategoriesId" value="@ViewBag.Category" />
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Regresar", "Index", new { Category = ViewBag.Category }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
