﻿@model Core.Models.Servicios.Plan

@{
    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}




<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Editar Plan</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.EstadoId)
                                @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoTv, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TipoTv, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.TipoTv, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tipoBa, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tipoBa, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.tipoBa, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.ServicioId, "ServicioId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ServicioId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ServicioId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EstadoId, "EstratoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <td>Estrato</td>
                                        <td>Código</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Core.Models.configuration.Configuration Estrato in ViewBag.EstratoId)
                                    {
                                        Core.Models.Servicios.PlanesEstratos PlanEstrato = ((List<Core.Models.Servicios.PlanesEstratos>)ViewBag.planesEstrato)
                                                            .Where(
                                                                c => c.EstratoId == Estrato.Id
                                                            ).FirstOrDefault();

                                        string valor = PlanEstrato != null ? PlanEstrato.Costo : "";

                                        <tr>
                                            <td>@Estrato.Description <input type="hidden" name="EstratoId" value="@Estrato.Id" /></td>
                                            <td><input type="text" class="form-control" value="@valor" name="valorId" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @*@Html.DropDownList("EstratoId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" , multiple = "multiple" })*@
                            @Html.ValidationMessage("Plan", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                }

                <div>
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
</div>



