﻿@model IEnumerable<Core.Models.Servicios.Plan>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class=" col-md-3 form-group">
                    <label>Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-road"></i>
                        </div>
                        <input type="text" class="form-control" id="txt_nombre" value="">
                    </div>
                </div>
                <div class="col-md-6 inline-form form-group">
                    <label for=""> Acciones </label>
                    <div class="input-group">
                        <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar Plan</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Servicio.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EstadoId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoTv)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tipoBa)
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Servicio.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstadoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoTv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipoBa)
                            </td>

                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                                @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

