﻿@model tmkhogares.ViewModel.GestionVM

@{
    ViewBag.Title = "Gestion";
    Guid? TipoPlan = null;
    Guid? Paquete = null;
    Layout = "../Shared/_LayoutAsesor.cshtml";
    int final = 1;
    int Efectiva = 1;

    List<Core.Models.Gestion.Productos> productos = ViewBag.productos;
}

<head>
    @*<meta http-equiv="refresh" content="10" />*@
</head>

<!-- ------------------------------------------------------------------------ -->
<!--|        DATOS DEL CLIENTE.                                              |-->
<!-- ------------------------------------------------------------------------ -->


<div class="row">

    <div class="col-md-12 col-xs-12">
        <br /> <br />
        <h4 style="background-color:#DD4B39; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            NO APTO CARTERA
        </h4>
        <br /> <br />
    </div>

    <div class="col-md-12">
        <div class="box">
            <div class="box-header">Información Basica</div>
            <div class="box-body">
                <ul class="nav nav-stacked">
                    <li><a><strong>Nombre</strong> <span class="pull-right  bg-default">@Model.cliente.NOMBRE_CLIENTE</span></a></li>
                    <li><a><strong>Contrato</strong> <span class="pull-right  bg-default">@Model.cliente.CONTRATO_CUSTCODE</span></a></li>
                    <li><a><strong>Cuenta</strong> <span class="pull-right  bg-default">@Model.cliente.CUENTA_CO_ID</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>



<input type="hidden" id="gtuuId" value="@Model.Gestion.Id" />
<input type="hidden" id="AsuuId" value="@Model.Asesor.Id" />
<input type="hidden" id="vnd" value="@Model.Gestion.vdnLlamada" />
<input type="hidden" id="telefonoLlamada" value="@Model.Gestion.TelefonoLlamada" />
<input type="hidden" id="idPresence" value="@Model.Gestion.presence_Id" />
<input type="hidden" id="login" value="@ViewBag.login" />



<input type="hidden" value="-1" id="acw" />
<input type="hidden" value="30010" id="tipificacion" />






<!-- ------------------------------------------------------- -->
<!--|        SECCION DE TIPIFICACION                        |-->
<!-- ------------------------------------------------------- -->

<section class="content-header">
    <h1>
        TIPIFICACIÓN
        <small>Tipificación de la gestion</small>
    </h1>
</section>
<br />
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">Datos de la venta</div>
            <div class="box-body">
                <div class="form-group">
                    <label>Tipificación</label>
                    <select class="dro_cascade_tipificacion form-control consecutivo1">
                        <option value="20002">NO APTO CARTERA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-danger" id="GuardarGestion">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script>
        const TipoBase = 2
    </script>
    <script src="~/Scripts/app/Direccion.js"></script>
}




