﻿@model tmkhogares.ViewModel.GestionVM
@using tmkhogares.ViewModel;
@{
    ViewBag.Title = "Gestion";
    Guid? TipoPlan = null;
    Guid? Paquete = null;
    Layout = "../Shared/_LayoutAsesor.cshtml";
    int final = 1;
    int Efectiva = 1;
    List<Core.Models.Gestion.Productos> productos = ViewBag.productos;
    List<Core.Models.Gestion.DetalleVenta> DetalleVenta = ViewBag.DetalleVentas;
    List<Core.Models.configuration.Configuration> Configuraciones = ViewBag.Configuraciones;
    Core.Models.Gestion.CampanasVdns vdnsConfiguracion = ViewBag.vdnsConfiguracion;
    int? TipoBase = Model.cliente.car_ProductoId;
    string NombreBase = productos.Where(c => c.Id == Model.cliente.car_ProductoId).FirstOrDefault().Nombre;
}

<head>
    @*<meta http-equiv="refresh" content="10" />*@
    <style>
        .obl {
            color: red;
            font-weight: bolder;
        }

        .campoVenta {
            zoom: 0.9;
        }

        .camposConvergentes {
            display: none;
        }
    </style>
</head>




<!-- ------------------------------------------------------------------------ -->
<!--|        DATOS DEL CLIENTE.                                              |-->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!--|       DATOS DEL CLIENTE OUTBOUND                          |-->
<!-- ------------------------------------------------------------------------ -->

@if (Model.Gestion.TipoServicioCamapa == "OUTBOUND") // servicio no inbound
{




    <div class="row">

        <div class="col-md-12" id="evidenciasImagenes">

        </div>





        <div class="col-md-12">
            <h4 style="background-color:#DD4B39; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                DATOS BASICOS DEL CLIENTE
            </h4>
            <div class="panel panel-body">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Gestion</th>
                            <th>Carga</th>
                            <th>Vdn</th>
                            <th>Tipo de Base</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Gestion.Id.ToString()</td>
                            <td>@Model.cliente.Carga.Nombre</td>
                            <td>@Model.Gestion.vdnLlamada</td>
                            <td>@productos.Where(c => c.Id == Model.cliente.car_ProductoId).FirstOrDefault().Nombre</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>





        @if (Model.Gestion.vdnLlamada == "7604" || Model.Gestion.vdnLlamada == "7605" || Model.Gestion.vdnLlamada == "7607"
            || Model.Gestion.vdnLlamada == "7608"
        )
        {
            <!-- ------------------------------------------------------------------------ -->
            <!--|        DATOS DEL CLIENTE. VDN 7604   || Model.Gestion.vdnLlamada == "7612" QUE ES VDN DE UPGRADE   |-->
            <!-- ------------------------------------------------------------------------ -->
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>DATOS DEL CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>
                                <tr>
                                    <th>CUENTA </th>
                                    <td>@Model.cliente.CUENTA_CO_ID </td>
                                </tr>
                                <tr>
                                    <th>ID ASIGNACION </th>
                                    <td>@Model.cliente.ID_ASIGNACION </td>
                                </tr>
                                <tr>
                                    <th>NOMBRE </th>
                                    <td>@Model.cliente.NOMBRE_CLIENTE </td>
                                </tr>
                                <tr>
                                    <th>TELEFONO_1 </th>
                                    <td>@Model.cliente.TELEFONO_1 </td>
                                </tr>
                                <tr>
                                    <th>TELEFONO_2 </th>
                                    <td>@Model.cliente.TELEFONO_2</td>
                                </tr>
                                <tr>
                                    <th>CELULAR_1 </th>
                                    <td>@Model.cliente.CELULAR_1 </td>
                                </tr>
                                <tr>
                                    <th>DIRECCION </th>
                                    <td>@Model.cliente.DIRECCION </td>
                                </tr>
                                <tr>
                                    <th>ESTRATO </th>
                                    <td>@Model.cliente.ESTRATO </td>
                                </tr>
                                <tr>
                                    <th>SERVICIO TV</th>
                                    <td>@Model.cliente.SERVICIO_TV </td>
                                </tr>
                                <tr>
                                    <th>megas </th>
                                    <td>@Model.cliente.megas_incluidas </td>
                                </tr>
                                <tr>
                                    <th>FECHA_VINCULACION </th>
                                    <td>@Model.cliente.FECHA_VINCULACION </td>
                                </tr>
                                <tr>
                                    <th>Cargo fijo Mensual </th>
                                    <td>@Model.cliente.TARIFA </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>PRODUCTO ACTUAL DEL CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>
                                <tr>
                                    <th>NUM DECOS HD </th>
                                    <td>@Model.cliente.cruzada_NUM_DECOS_ADI </td>
                                </tr>
                                <tr>
                                    <th>DECOS_HD 1 </th>
                                    <td>@Model.cliente.RENTA_ADICIONALES </td>
                                </tr>
                                <tr>
                                    <th>DECOS_HD 2  </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV</td>
                                </tr>
                                <tr>
                                    <th>DECOS_HD 3  </th>
                                    <td>@Model.cliente.CONSUMO_DATOS_MES_3 </td>
                                </tr>
                                <tr>
                                    <th>DECOS_HD 4  </th>
                                    <td>@Model.cliente.Campo_Fijo_4 </td>
                                </tr>
                                <tr>
                                    <th>DECOS_HD 5  </th>
                                    <td>@Model.cliente.adicionales_Codigo_Tarifa_2 </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>OFERTAS AL CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>
                                <tr>
                                    <th>
                                        PTAR
                                    </th>
                                    <td>@Model.cliente.CONSUMO_DATOS_MES_2 </td>
                                </tr>
                                <tr>
                                    <th> TARIFA A AOFERTAR </th>
                                    <td>@Model.cliente.PAQUETE_ACTUAL </td>
                                </tr>
                                <tr>
                                    <th> NUEVO CARGO FIJO </th>
                                    <td>@Model.cliente.RENTA_TOTAL_IVA </td>
                                </tr>
                                <tr>
                                    <th> DIFERENCIA </th>
                                    <td>@Model.cliente.adicionales_Diferencia_OFerta_1 </td>
                                </tr>
                                <tr>
                                    <th> BENEFICIO </th>
                                    <td>@Model.cliente.BENEFICIO </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        }
        else if (Model.Gestion.vdnLlamada == "7621" || Model.Gestion.vdnLlamada == "7620" || Model.Gestion.vdnLlamada == "7622" || Model.Gestion.vdnLlamada == "7623"
                || Model.Gestion.vdnLlamada == "7624"
                || Model.Gestion.vdnLlamada == "7619"
                || Model.Gestion.vdnLlamada == "7625"
                || Model.Gestion.vdnLlamada == "7626"
                || Model.Gestion.vdnLlamada == "7620"

            )
        {
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">Información Basica</div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li>
                                <a>
                                    <strong>Nombres</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.NOMBRE_CLIENTE
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Email</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.EMAIL
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">Información del plan</div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li>
                                <a>
                                    <strong>Telefono</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TELEFONO_1
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>codigo postal</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.Campo_Fijo_4
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        }
        else if (Model.cliente.car_ProductoId != 3)
        {
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">Información Basica</div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li>
                                <a>
                                    <strong>Nombres Completos</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.NOMBRE_CLIENTE
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Cedula</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.NUMERO_IDENTIFICACION
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>ID ASIGNACION</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.ID_ASIGNACION
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Ciudad</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.CIUDAD
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <strong>Estrato</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.ESTRATO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Dirección</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.DIRECCION
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Antigüedad en Claro</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.FECHA_VINCULACION
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">Información del plan</div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li>
                                <a>
                                    <strong>Plan actual con Móvil</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.DES_TMCODE
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Cargo Fijo Mensual</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.CFM_PLAN
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>Correo Electrónico</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.EMAIL
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>tecnologia_plan</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TECNOLOGIA_PLAN
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>equipo actual</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.EQUIPO_ACTUAL
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>comportamiento pago</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.COMPORTAMIENTO_PAGO
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">Información de contacto</div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li>
                                <a>
                                    <strong>telefono_1</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TELEFONO_1
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <strong>telefono_2</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TELEFONO_2
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <strong>telefono_3</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TELEFONO_3
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <strong>tele_numb</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.TELE_NUMB
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <strong>celular</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.CELULAR_1
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a>
                                    <strong>celular_2</strong> <span class="pull-right  bg-default">
                                        @Model.cliente.CELULAR_2
                                    </span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (Model.cliente.car_ProductoId == 3)
        {
            <!-- ------------------------------------------------------------------------ -->
            <!--|        DATOS DEL CLIENTE. PRODUCTO 3                                   |-->
            <!-- ------------------------------------------------------------------------ -->
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>DATOS DEL CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>

                                <tr>
                                    <th>NOMBRE </th>
                                    <td>@Model.cliente.NOMBRE_CLIENTE </td>
                                </tr>
                                <tr>
                                    <th>ID_ASIGNACION </th>
                                    <td>@Model.cliente.ID_ASIGNACION </td>
                                </tr>
                                <tr>
                                    <th>FECHA_NACIMIENTO </th>
                                    <td>@Model.cliente.adicionales_NOMBRE </td>
                                </tr>
                                <tr>
                                    <th>FECHA_VINCULACION </th>
                                    <td>@Model.cliente.FECHA_VINCULACION </td>
                                </tr>
                                <tr>
                                    <th>ESTRATO </th>
                                    <td>@Model.cliente.ESTRATO </td>
                                </tr>
                                <tr>
                                    <th>TIPO DE TV</th>
                                    <td>@Model.cliente.SERVICIO_TV </td>
                                </tr>
                                <tr>
                                    <th>CIUDAD </th>
                                    <td>@Model.cliente.CIUDAD</td>
                                </tr>
                                <tr>
                                    <th>TELEFONO_1 </th>
                                    <td>@Model.cliente.TELEFONO_1 </td>
                                </tr>
                                <tr>
                                    <th>TELEFONO_2 </th>
                                    <td>@Model.cliente.TELEFONO_2</td>
                                </tr>
                                <tr>
                                    <th>CELULAR_1 </th>
                                    <td>@Model.cliente.CELULAR_1 </td>
                                </tr>
                                <tr>
                                    <th>CELULAR_2 </th>
                                    <td>@Model.cliente.CELULAR_2 </td>
                                </tr>
                                <tr>
                                    <th>EMAIL </th>
                                    <td>@Model.cliente.EMAIL </td>
                                </tr>
                                <tr>
                                    <th>DIRECCION </th>
                                    <td>@Model.cliente.DIRECCION </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>PRODUCTO ACTUAL DEL CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>
                                <tr>
                                    <th>RENTA ACTUAL </th>
                                    <td>@Model.cliente.RENTA_TOTAL_IVA </td>
                                </tr>
                                <tr>
                                    <th>PAQUETE ACTUAL </th>
                                    <td>@Model.cliente.PAQUETE_ACTUAL</td>
                                </tr>
                                <tr>
                                    <th>TIPO_PAQUETE ACTUAL </th>
                                    <td>@Model.cliente.TECNOLOGIA_PAQUETE </td>
                                </tr>
                                <tr>
                                    <th>DATOS ACTUALES </th>
                                    <td>@Model.cliente.megas_incluidas </td>
                                </tr>
                                <tr>
                                    <th>TOTAL DE DECOS </th>
                                    <td>@Model.cliente.cruzada_NUM_DECOS_ADI </td>
                                </tr>
                                <tr>
                                    <th>DECOS CON PAGO ADICIONAL </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h5><strong>    OFERTAS AL    CLIENTE</strong></h5>
                    </div>
                    <div class="box-body">
                        <table class="table-hover table table-bordered" style="zoom:0.8;">
                            <tbody>
                                <tr>
                                    <th> Oferta_1</th>
                                    <td>@Model.cliente.adicionales_Oferta_1 </td>
                                </tr>
                                <tr>
                                    <th> Valor_Oferta_1</th>
                                    <td>@Model.cliente.adicionales_Valor_Oferta_1 </td>
                                </tr>
                                <tr>
                                    <th> Valor total de La renta sin decos </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th> Valor De Decos Adicionales</th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th>Valor Final de la Oferta Con Decos </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th>Diferencia_OFerta_1 </th>
                                    <td>@Model.cliente.adicionales_Diferencia_OFerta_1 </td>
                                </tr>
                                <tr>
                                    <th>Observacion </th>
                                    <td>@Model.cliente.adicionales_Codigo_Tarifa_1 </td>
                                </tr>



                                <tr>
                                    <th>Oferta_2 </th>
                                    <td>@Model.cliente.adicionales_Codigo_Tarifa_2 </td>
                                </tr>
                                <tr>
                                    <th>Valor_Oferta_2 </th>
                                    <td>@Model.cliente.adicionales_Valor_Oferta_2 </td>
                                </tr>
                                <tr>
                                    <th>Valor total de La renta sin decos  </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th>Valor De Decos Adicionales </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th>Valor Final de la Oferta </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>
                                <tr>
                                    <th>Diferencia_OFerta_2 </th>
                                    <td>@Model.cliente.adicionales_Diferencia_OFerta_2 </td>
                                </tr>
                                <tr>
                                    <th>Observacion </th>
                                    <td>@Model.cliente.NUM_DECOS_ADICIONALES_TV </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        }

    </div>


}




<!-- ------------------------------------------------------------------------ -->
<!--|       DATOS DEL CLIENTE INBOUND FORMULARIO.                            |-->
<!-- ------------------------------------------------------------------------ -->

@if (Model.Gestion.TipoServicioCamapa == "INBOUND" || Model.Gestion.TipoServicioCamapa == "DIGITAL")
{


    string NombreGestion = "GESTION DE AGENTE DIGITAL";
    if (Model.Gestion.vdnLlamada == "7777")
    {
        NombreGestion = "GESTION DE AGENTE INBOUND";
    }

    <div class="row">
        <div class="col-md-12" id="evidenciasImagenes">
        </div>
        <div class="boxz">
            <div class="box-">

                <!-- ------------------------------------------------------- -->
                <!--|      INFORMACION DEL PLAN           |-->
                <!-- ------------------------------------------------------- -->
                <div class="col-md-12 col-xs-12">
                    <h4 style="background-color:#DD4B39; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                        @NombreGestion
                    </h4>
                    <br /> <br />
                </div>

                <div class="col-md-12">

                    <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                            <label>NOMBRES<span class="obl">*</span></label>
                            <input type="Text" name="VENTA_NOMBRE__inbound" id="VENTA_NOMBRE__inbound" value="" class="form-control campoVentaInbound" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto" />
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                            <label>Contacto adicional</label>
                            <input type="Text" name="VENTA_TELEFONOCONTACTO2_Inbound" id="VENTA_TELEFONOCONTACTO2_Inbound" value="" class="form-control campoVentaInbound" data-largo="7" data-maximolargo="10" data-nombre="TELEFONO DE CONTACTO 2" data-tipo="numero" />
                        </div>
                    </div>

                    @if (ViewBag.customData2 != null)
                    {
                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>Custom Data 2</label>
                                <input type="Text" name="customdata2" id="customdata2" readonly value="@ViewBag.customData2" class="form-control" />
                            </div>
                        </div>
                    }




                    @if (vdnsConfiguracion.Producto == _CategoriaVdns.IN)
                    {
                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>APELLIDOS <span class="obl">*</span></label>
                                <input type="Text" name="VENTA_Apellido_inbound" id="VENTA_Apellido_inbound" value="" class="form-control campoVentaInbound" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto" />
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>DOCUMENTO CLIENTE</label>
                                <input type="Text" name="VENTA_Documento_Inbound" id="VENTA_Documento_Inbound" value="" class="form-control campoVentaInbound" required data-nombre="DOCUMENTO CLIENTE" data-tipo="texto" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>Contacto adicional</label>
                                <input type="Text" name="VENTA_TELEFONOCONTACTO2_Inbound" id="VENTA_TELEFONOCONTACTO2_Inbound" value="" class="form-control campoVentaInbound" data-largo="7" data-maximolargo="10" data-nombre="TELEFONO DE CONTACTO 2" data-tipo="numero" />
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>Dirección<span class="obl">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control campoVentaInbound" id="txt_direccion1" value="" readonly>
                                    <div class="input-group-addon direccion" data-input="txt_direccion1" id="direccion1" data-toggle="tooltip" data-placement="top" title="Asignar Una dirección">
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                    <div class="input-group-addon" style="cursor:pointer" id="duplicarDireccion" data-toggle="tooltip" data-placement="top" title="Copiar Dirección a servicio a  envio">
                                        <i class="fa fa-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <label>Ciudad</label>
                            @Html.DropDownList("ciudad", null, "", htmlAttributes: new { @class = "form-control select2 campoVentaInbound", data_nombre = "ciudad", id = "ciudad_Inbound" })
                        </div>

                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>Motivo de llamada</label>

                                <select name="VENTA_MotivoLlamada_Inbound" id="VENTA_MotivoLlamada_Inbound" value="" class="form-control  campoVentaInbound" required data-nombre="Motivo de llamada">
                                    <option value="0">Sin Seleccionar</option>
                                    <option value="41d858c8-bc8d-45a8-846d-e38795bd2cd9">Servicio al cliente</option>
                                    <option value="03c6432e-3c11-427c-b73d-db6388f5a960">Interesado en servicio</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>¿que quiere comprar?</label>
                                <select name="QueQuiereComprar" id="QueQuiereComprar" value="" class="form-control  campoVentaInbound" required data-nombre="QueQuiereComprar">
                                    <option value="0">Sin Seleccionar</option>
                                    <option value="Servicio Fijo">Servicio Fijo</option>
                                    <option value="Servicio Movil">Servicio Movil</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>¿Medio por el que se entero de la promoción?</label>
                                <select name="MedioEnteroPromocion" id="MedioEnteroPromocion" value="" class="form-control  campoVentaInbound" required data-nombre="Medio por el que se entero de la promoción">
                                    <option value="0">Sin Seleccionar</option>
                                    @foreach (Core.Models.configuration.Configuration MedioPropaganda in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.INBOUND_MedioDePropaganda).OrderBy(c => c.Name))
                                    {
                                        <option value="@MedioPropaganda.Name">@MedioPropaganda.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-3">
                            <div class="form-group">
                                <label>Razon de llamada</label>
                                <select id="venta_RazonLLamada_Inbound" class="form-control" required data-nombre="Razon de la llamada">
                                    <option value="0">Sin Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2">
                            <div class="form-group">
                                <label>VDN Avaya</label>
                                <input type="Text" name="vdnLlamadaInbound" id="vdnLlamadaInbound" value="" class="form-control campoVentaInbound" data-largo="3" data-maximolargo="5" data-nombre="VDN Inbound" data-tipo="numero" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <br>
                                <label>
                                    cliente Fijo
                                    <input type="radio" name="TipoCliente" id="TipoCliente" value="Cliente Fijo" class="campoVentaInbound">
                                </label>
                                <br>
                                <label>
                                    cliente Movil
                                    <input type="radio" name="TipoCliente" id="TipoCliente" value="Cliente Movil" class="campoVentaInbound">
                                </label>
                                <br>
                                <label>
                                    cliente Convergencia
                                    <input type="radio" name="TipoCliente" id="TipoCliente" value="Cliente convergente" class="campoVentaInbound">
                                </label>
                            </div>
                        </div>
                    }




                </div>




            </div>
        </div>

    </div>
}




<!-- ------------------------------------------------------- -->
<!--|       VERIFICAR SI ES VENTA O NO ES VENTA.            |-->
<!-- ------------------------------------------------------- -->
<div class="col-md-3">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs activeFs up"><i class="fa  fa-thumbs-o-up fa-3x"></i></button>
        <button type="button" class="btn btn-default btn-xs activeFs down"><i class="fa fa-thumbs-o-down fa-3x"></i></button>
    </div>
</div>


@*<div class="col-md-12" style="margin-top:20px; margin-bottom:10px ; display:inline">
        <div class="btn-group">
            <a href="@Url.Action("misventas", "Gestions", new { id = Model.Asesor.login })" target="_blank" , class="btn btn-danger">
                Mis Ventas
            </a>
        </div>
        <div class="btn-group">
            <button id="btnEvidencias" type="button" class="btn btn-success" onclik="ModalEvidencias();">Evidencias</button>
        </div>
        <div class="btn-group">
            <a href="@Url.Action("Programacion", "Programacion", new { id = Model.Asesor.login })" target="_blank" , class="btn btn-primary">
                Programación Registro
            </a>
        </div>

    </div>*@
<!-- VISTA PARCIAL GESTION DE ARCHIVOS-->
@*@RenderPage("~/Views/Home/partial/GestionArchivos.cshtml")*@

<!-- VISTA PARCIAL GESTION DE ARCHIVOS-->





<div id="Gestion_Venta_form" style="display:none;">




    <!-- ------------------------------------------------------------------------ -->
    <!--|        AYUDAVENTAS                                                     |-->
    <!-- ------------------------------------------------------------------------ -->

    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header  bg-red">Uno27 crosseling</div>
            <div class="box-body">
                <div class="col-md-8">
                    <div class="row">
                        <!-- ------------------------------------------------------------------------ -->
                        <!--|        FILTRO PARA LA CIUDAD Y PARA LA VELOCIDAD                       |-->
                        <!-- ------------------------------------------------------------------------ -->
                        <div class="col-md-3  bg-gray-light">
                            <!-- ------------------------------------------------------------------------ -->
                            <!--|        FILTRO PARA EL TIPO DE CLIENTE Y ESTRATO                        |-->
                            <!-- ------------------------------------------------------------------------ -->
                            <div style="display:inline-block; " class="ayuda_section">
                                <label>Tipo Cliente</label>
                                <div class="ayuda_group">
                                    <label><input type="checkbox" name="name" id="chk_cliente_movil" /> Movil</label>
                                </div>
                                <div class="ayuda_group">
                                    <label><input type="radio" name="clienteMovilFijo" id="chk_cliente_fijo" /> Empaqueta</label>
                                </div>
                                <div class="ayuda_group">
                                    <label><input type="radio" name="clienteMovilFijo" id="chk_cliente_nuevo" /> Nuevo</label>
                                </div>
                                <div class="ayuda_group">
                                    <div class="camposConvergentes">
                                        <label>Tipo de convergente</label>
                                        <select value="" class="form-control campoVenta" id="VENTA_TIPO_DE_SOLICITUD" data-nombre="Tipo de convergente" data-tipo="texto">
                                            <option value="0">Seleccione</option>
                                            <option value="Cedula">Cedula</option>
                                            <option value="Direccion">Dirección</option>
                                        </select>

                                        <div class="form-group" style="display:none;">
                                            <label>Documento Convergente</label>
                                            <input type="Text" name="VENTA_MULTIPLAY" id="VENTA_MULTIPLAY" value="" class="form-control campoVenta" data-nombre="Documento Convergente" data-tipo="numero" />
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label>Dirección Convergente</label>
                                            <input type="Text" name="VENTA_TIPO_DE_RED" id="VENTA_TIPO_DE_RED" value="" class="form-control campoVenta" data-nombre="Dirección Convergente" data-tipo="texto" />
                                        </div>
                                    </div>

                                </div>


                            </div>


                            <div style="display:inline-block; width:70px;" class="ayuda_section">
                                <label>Estrato</label>
                                <div class="ayuda_group">
                                    <select value="" class="form-control campoVenta" id="slct_ayuda_estrato" required data-nombre="Estrato" data-tipo="texto">
                                        <option value="0"></option>
                                        @foreach (Core.Models.configuration.Configuration estrato in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Estratos))
                                        {
                                            if (estrato.Name == "3")
                                            {
                                                <option value="@estrato.Name">@estrato.Name</option>

                                            }
                                            else
                                            {
                                                <option value="@estrato.Name">@estrato.Name</option>

                                            }
                                        }
                                    </select>
                                </div>
                            </div>



                            <div style="display:inline-block; max-width:200px;" class="ayuda_section">
                                <label>Ciudad</label>
                                <div class="ayuda_group">
                                    @Html.DropDownList("ciudad", null, "", htmlAttributes: new { @class = "form-control select2 campoVenta", data_nombre = "ciudad", id = "ayuda_ciudad", required = "require" })
                                    <br />

                                </div>
                            </div>
                            <br />

                            <div class="col-md-12 bg-red" style="margin-top: 10px;padding-bottom:10px;">

                                <div style="display:block" class="ayuda_section">
                                    <label>SERVICIOS EN QUE SE HIZO UPGRADE</label>
                                    <div class="ayuda_group">
                                        <select class="form-control" id="serviciosUpgrade">
                                            <option value="0">No hice un upgrade</option>
                                            <option value="1">@@</option>
                                            <option value="1">Tv</option>
                                            <option value="2">@@ + Tv</option>
                                        </select>

                                    </div>
                                </div>

                                <div style="display:block" class="ayuda_section">
                                    <label>SERVICIOS QUE VENDIÓ NUEVOS</label>
                                    <div class="ayuda_group">
                                        <select class="form-control" id="ServiciosNuevos">
                                            <option value="0">No vendí ningún producto nuevo</option>
                                            <option value="1">Linea</option>
                                            <option value="1">@@</option>
                                            <option value="1">Tv</option>
                                            <option value="2">Linea + @@</option>
                                            <option value="2">Linea + Tv</option>
                                            <option value="2">@@ + Tv</option>
                                            <option value="3">Linea + @@ + Tv</option>
                                        </select>

                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="col-md-9">
                            <!-- ------------------------------------------------------------------------ -->
                            <!--|        FILTROS DE TV,BA,LINEA                                          |-->
                            <!-- ------------------------------------------------------------------------ -->

                            <div class="col-md-12">
                                <fieldset class="panel panel-body panel-primary scheduler-border">
                                    <legend class="scheduler-border">

                                        @{
                                            string Estavendiendo = TipoBase == 1 ? "DTH" : "HFC";
                                        }

                                        Estas Vendiendo <span class="bg-red-active Estavendiendo">HFC</span>
                                        <div class="btn-group">
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Vender HFC" class="btn btn-default btn-xs productoHFC"><i class="fa  fa-television fa-2x"></i></button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Vender DTH" class="btn btn-default btn-xs productoDTH"><i class="fa fa-feed  fa-2x"></i></button>
                                        </div>
                                    </legend>


                                    <div style="display:inline-block;" class="ayuda_section">
                                        <label>Velocidad</label>
                                        <div class="ayuda_group">
                                            <select value="" class="form-control ProductoAyudaVenta" id="ba_ayudaventa">
                                                <option value="0">No</option>
                                                @foreach (Core.Models.configuration.Configuration Ba in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Megasdevelocidad && c.IntId == 2).OrderBy(c => Int32.Parse(c.Name)))
                                                {
                                                    <option value="@Ba.Id">@Ba.Name</option>
                                                }
                                            </select>

                                        </div>
                                    </div>


                                    <div style="display:inline-block;" id="panel_tv">
                                        <label>TV</label>
                                        <select value="" class="form-control ProductoAyudaVenta" id="tv_ayudaventa">
                                            <option value="0">No</option>
                                            @foreach (Core.Models.configuration.Configuration Tv in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.PlanesdeTv && c.IntId == 2).OrderBy(c => c.Name))
                                            {
                                                <option value="@Tv.Id">@Tv.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div style="display:inline-block;" id="panel_linea">
                                        <label>linea</label>
                                        <select value="" class="form-control ProductoAyudaVenta" id="linea_ayudaventa">
                                            <option value="0">No</option>
                                            @foreach (Core.Models.configuration.Configuration Mi in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.planesMinutos && c.IntId == 2).OrderBy(c => c.Name))
                                            {
                                                <option value="@Mi.Id">@Mi.Name</option>
                                            }
                                        </select>

                                    </div>
                                    <div style="display:inline-block;" id="">
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Añadir al carrito" class="AddPrincipal btn btn-default btn-xs"><i class="fa fa-plus fa-2x"></i></button>
                                    </div>

                                    <div class="row">
                                        <hr />
                                        <div class="col-md-6">
                                            <div class="ayuda_Tarifa">
                                                <label>Tarifa Plena</label>
                                                <button class="btn btn-danger" id="btn_ayudaTarifaPlena">$0</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ayuda_Tarifa">
                                                <label>Promoción</label>
                                                <button class="btn bg-blue" id="btn_ayudaTarifaPromocion">$0</button>
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>
                            </div>
                            <!-- ------------------------------------------------------------------------ -->
                            <!--|        .\FILTROS DE TV,BA,LINEA                                        |-->
                            <!-- ------------------------------------------------------------------------ -->
                            <!-- ------------------------------------------------------------------------ -->
                            <!--|      AGREGAR PRODUCTOS ADICIONALES, TECNOLOGIA, MOBIL , ETC                       |-->
                            <!-- ------------------------------------------------------------------------ -->

                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="panel panel-body panel-primary scheduler-border">
                                        <legend class="scheduler-border">
                                            Venta de productos y adicionales
                                        </legend>

                                        <div class="col-md-12">
                                            <div style="display:inline-block;" class="ayuda_section">
                                                <label>Categoria</label>
                                                <select id="PRODUCTO_tipoVenta" class="form-control" required data-nombre="PERMANENCIA" data-tipo="texto">
                                                    <option value="0">Sin Seleccionar</option>
                                                    @foreach (Core.Models.configuration.Configuration permanencia in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.PRODUCTOS_TipoDeVenta))
                                                    {
                                                        <option value="@permanencia.Id">@permanencia.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div style="display:inline-block;" class="ayuda_section">
                                                <label>Sub-categoria</label>
                                                <select name="PRODUCTO_paquete" id="PRODUCTO_paquete" class="form-control" required data-nombre="PERMANENCIA" data-tipo="texto"></select>

                                            </div>
                                            <div style="display:inline-block;" class="ayuda_section">
                                                <label>Producto</label>
                                                <select id="PRODUCTO_Adicional" class="form-control" required data-nombre="PERMANENCIA" data-tipo="texto"></select>
                                            </div>
                                            <div style="display:inline-block;" class="ayuda_section">
                                                <label>Cantidad</label>
                                                <select id="PRODUCTO_Cantidad" class="form-control" required data-nombre="PERMANENCIA" data-tipo="texto">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                            <br />
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Valor unidad</th>
                                                        <th>Valor total</th>
                                                        <th>Agregar</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt_valor_adicional"></td>
                                                        <td class="txt_valor_adicional_total"></td>
                                                        <td>
                                                            <div style="display:inline-block;" class="ayuda_section">
                                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Añadir al carrito" class="AddAdicional btn btn-default btn-xs"><i class="fa fa-plus fa-2x"></i></button>
                                                            </div>

                                                        </td>
                                                    </tr>

                                                </thead>
                                            </table>
                                        </div>

                                        <div class="col-md-12">


                                        </div>






                                    </fieldset>


                                </div>

                            </div>






                            <!-- ------------------------------------------------------------------------ -->
                            <!--|      .\AGREGAR PRODUCTOS ADICIONALES Y PRINCIPALES                     |-->
                            <!-- ------------------------------------------------------------------------ -->


                        </div>

                    </div>


                    <div class="row">
                        <hr />
                        <div class="col-md-12">
                            @if (Model.cliente.car_ProductoId == 1)
                            {

                                <div class="col-md-4" id="dth_tipoInternet">
                                    <label>Tipo de iternet que aplica</label>
                                    <p>N/A</p>
                                </div>
                            }
                            <div class="col-md-6" id="ayudaventa_itemsValorAgregado">
                            </div>


                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <div class="panel panel-heading bg-blue-active">
                            Campañas aplican
                            <div style="display:inline-block;zoom:0.8;">
                                <select value="" class="form-control filtrotvBa" id="ayuda_cam_filtrotv">
                                    <option value="0">TV</option>
                                    @foreach (Core.Models.configuration.Configuration Tv in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.PlanesdeTv && c.IntId != 1).OrderBy(c => c.Name))
                                    {
                                        <option value="@Tv.Id">@Tv.Name</option>
                                    }
                                </select>
                            </div>
                            <div style="display:inline-block;zoom:0.8;" class="ayuda_section">
                                <div class="ayuda_group">
                                    <select value="" class="form-control filtrotvBa" id="ayuda_cam_filtroBa">
                                        <option value="0">BA</option>
                                        @foreach (Core.Models.configuration.Configuration Ba in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Megasdevelocidad && c.IntId != 1).OrderBy(c => Int16.Parse(c.Name)))
                                        {
                                            <option value="@Ba.Id">@Ba.Name MB</option>
                                        }
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="panel panel-body" style="padding-top: 0px !important">
                            <div id="cam_promociones">
                            </div>
                        </div>
                        <div class="panel panel-body" style="padding-top: 0px !important">
                            <div class="row" style="zoom: 0.8; margin-bottom: 10px;">
                                <div id="ayuda_listaPromociones">
                                    <div class="box-group" id="accordion">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="panel panel-heading bg-red">Oferta Comercial</div>
                        <div class="panel panel-body" style="padding-top: 0px !important">
                            <div class="row" style="zoom: 0.9; margin-bottom: 10px;">


                            </div>

                        </div>*@
                </div>

                <br />
                <div class="col-md-12">
                    <br />
                    <table class="table table-bordered table-responsive table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="13" class="text-center bg-light-blue">Carrito de ventas</th>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Producto</th>
                                <th>Valor</th>
                                <th>Valor Prom</th>
                                <th>N.Servicios</th>
                                <th>Promocion</th>
                                <th>Campaña1</th>
                                <th>Ptar Promocion</th>
                                <th>Promocion Megas</th>
                                <th>N.Upgrade</th>
                                <th>N.Nuevos</th>
                                <th>Total</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_ventaProductos">
                            @{
                                decimal? TotalProductos = 0;


                            }
                            @foreach (var Detalle in DetalleVenta)
                            {
                                int cantidadVendida = Detalle.CantidadUpgrade + Detalle.CantidadNuevos;
                                decimal? total = Detalle.ValorPromocion * Detalle.cantidad;

                                TotalProductos = TotalProductos + @total;

                                <tr data-id="@Detalle.Id" data-tipoproducto="@Detalle.TipoProducto">
                                    <td>@Detalle.Id</td>
                                    <td>@Detalle.NombreProducto</td>
                                    <td>@Detalle.Valor1</td>
                                    <td>@Detalle.ValorPromocion</td>
                                    <td>@cantidadVendida</td>
                                    <td>@Detalle.ValorPromocion</td>
                                    <td>@Detalle.CampanaPague1</td>
                                    <td>@Detalle.CampanaPromocion</td>
                                    <td>@Detalle.MegasPromocion</td>
                                    <td>@Detalle.CantidadUpgrade</td>
                                    <td>@Detalle.CantidadNuevos</td>
                                    <td>@total</td>
                                    <td>
                                        <button data-id="@Detalle.Id" class='btn btn-danger eliminarProducto'><i class='glyphicon glyphicon-trash'></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="Resumen">
                                <th colspan="2" class="bg-red">Total</th>
                                <th colspan="2" id="resumen_datos">@TotalProductos</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>









    <!-- ------------------------------------------------------- -->
    <!--|        PLANES DE VENTA .                              |-->
    <!-- ------------------------------------------------------- -->

    <input type="hidden" id="gtuuId" value="@Model.Gestion.Id" />
    <input type="hidden" id="AsuuId" value="@Model.Asesor.Id" />
    <input type="hidden" id="VENTA_TOMAS_ADICIONALES_TV" value="@ViewBag.sourceId" />





    <!-- ------------------------------------------------------- -->
    <!--|        DATOS DE CAPTURA DEL CLIENTE                   |-->
    <!-- ------------------------------------------------------- -->

    <div class="row">
        <div class="col-md-12">

            <br />

            <div class="box">
                <div class="box-header">Datos de la venta</div>
                <div class="box-body">
                    <div class="row">






                        <!-- ------------------------------------------------------- -->
                        <!--|      DATOS DEL CLIENTE          |-->
                        <!-- ------------------------------------------------------- -->

                        <div>

                            <div class="col-md-12 col-xs-12">
                                <br /> <br />
                                <h4 style="background-color:#291264; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                                    DATOS DEL CLIENTE
                                </h4>
                                <br /> <br />
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="form-group">
                                    <label>TIPO DE CLIENTE</label>

                                    <select name="VENTA_TIPODE_DE_CLIENTE" id="VENTA_TIPODE_DE_CLIENTE" value="" class="form-control  campoVenta" required data-nombre="TIPO DE CLIENTE" data-tipo="texto">
                                        >
                                        <option value="0">Sin Seleccionar</option>
                                        @foreach (Core.Models.configuration.Configuration permanencia in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.Tipodecliente))
                                        {
                                            <option value="@permanencia.Name">@permanencia.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="form-group">
                                    <label>NOMBRE COMPLETO CLIENTE <span class="obl">*</span></label>
                                    <input type="Text" name="VENTA_NOMBRE_COMPLETO_CLIENTE" id="VENTA_NOMBRE_COMPLETO_CLIENTE" value="@Model.cliente.NOMBRE_CLIENTE" class="form-control campoVenta" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto" />
                                </div>
                            </div>

                            <div class="col-md-4  col-xs-4 Requerido_empaquetamiento Requerido_adicionales">
                                <div class="form-group">
                                    <label>MEDIO DE PAGO </label>
                                    <select name="VENTA_captura_ent_correspondencia" id="VENTA_captura_ent_correspondencia" value="" class="form-control  campoVenta" required data-nombre="TIPO DE CLIENTE" data-tipo="texto">
                                        <option value="value">text</option>
                                    </select>
                                </div>
                            </div>


                            @*<div class="col-md-4  col-xs-4 Requerido_empaquetamiento Requerido_adicionales">
                                    <div class="form-group">
                                        <label>CUENTA DE VENTA</label>
                                        <input type="Text" name="VENTA_CUENTA_VENTA" id="VENTA_CUENTA_VENTA" value="@Model.cliente.CUENTA_CO_ID" class="form-control campoVenta" required data-nombre="CUENTA DE VENTA" data-tipo="texto" />
                                    </div>
                                </div>*@

                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>Barrio</label>
                                    <input type="Text" name="captura_barrio" id="captura_barrio" value="" class="form-control campoVenta" required data-nombre="BARRIO" data-tipo="texto" />
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>Telefono de contacto1</label>
                                    <input type="Text" name="captura_telefono1" id="captura_telefono1" value="@Model.cliente.TELEFONO_1" class="form-control campoVenta" required data-nombre="TELEFONO DE CONTACTO 1" data-tipo="texto" />
                                </div>
                            </div>
                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>Telefono de contacto2</label>
                                    <input type="Text" name="captura_telefono2" id="captura_telefono2" value="@Model.cliente.TELEFONO_2" class="form-control campoVenta" required data-nombre="TELEFONO DE CONTACTO 2" data-tipo="texto" />
                                </div>

                            </div>
                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>Tipo documento</label>

                                    <select name="VENTA_captura_tipodoc" id="VENTA_captura_tipodoc" value="" class="form-control campoVenta" required data-nombre="TIPO DE DOCUMENTO" data-tipo="texto">
                                        <option value="0">Sin Seleccionar</option>
                                        @foreach (Core.Models.configuration.Configuration permanencia in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.TipoDocumento))
                                        {
                                            <option value="@permanencia.Name">@permanencia.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>NÚMERO DE DOCUMENTO</label>
                                    <input type="Text" name="VENTA_NUMERO_CEDULA" id="VENTA_NUMERO_CEDULA" value="@Model.cliente.NUMERO_IDENTIFICACION" class="form-control campoVenta" required data-nombre="NÚMERO DE DOCUMENTO" data-tipo="numero" />
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>FECHA EXPEDICIÓN (yyyy-mm-dd)</label>
                                    <input type="Text" name="VENTA_captura_fechaExped" id="VENTA_captura_fechaExped" value="" class="fechaCalendario todo form-control campoVenta" required data-nombre="FECHA DE EXPEDICIÓN" data-tipo="texto" />
                                </div>
                            </div>

                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>LUGAR DE EXPEDICIÓN</label>
                                    <input type="Text" name="VENTA_LUGAREXPEDICION" id="VENTA_LUGAREXPEDICION" value="" class="form-control campoVenta" required data-nombre="LUGAR DE EXPEDICIÓN" data-tipo="texto" />
                                </div>
                            </div>



                        </div>
                        <div class="col-md-4  col-xs-4">
                            <div class="form-group">
                                <label>Dirección Servicio<span class="obl">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control campoVenta" id="txt_direccion" value="" readonly required data-nombre="Dirección de servicio">
                                    <div class="input-group-addon direccion" data-input="txt_direccion" id="direccion" data-toggle="tooltip" data-placement="top" title="Asignar Una dirección">
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4  col-xs-4">
                            <div class="form-group">
                                <label>NUMERO A ACTIVAR</label>
                                <input type="Text" name="VENTA_NUMERO_A_ACTIVAR" id="VENTA_NUMERO_A_ACTIVAR" value="" class="form-control campoVenta" required data-nombre="NUMERO A ACTIVAR" data-tipo="texto" />
                            </div>
                        </div>
                        <!-- ------------------------------------------------------- -->
                        <!--|       NUEVOS CAMPOS PARA LA SABANA DE VENTA.          |-->
                        <!-- ------------------------------------------------------- -->
                        <div>
                            <div class="col-md-12 col-xs-12">
                                <br /> <br />
                                <h4 style="background-color:#291264; color:white; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                                    DATOS DEL PLAN
                                </h4>
                                <br /> <br />
                            </div>




                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>ENTREGA DE CORRESPONDENCIA</label>
                                    <select class="form-control campoVenta" name="VENTA_captura_ent_correspondencia" id="VENTA_captura_ent_correspondencia" required data-nombre="ENTREGA DE CORRESPONDENCIA" data-tipo="texto">
                                        <option value="0">Seleccione</option>
                                        <option value="FISICA">FISICA</option>
                                        <option value="ELECTRONICA">ELECTRONICA</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>EMAIL</label>
                                    <input type="Text" name="VENTA_Captura_Email" id="VENTA_Captura_Email" value="" class="form-control campoVenta" required data-nombre="Correo electronico" data-tipo="correo" />
                                </div>
                            </div>

                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>Cobro de instalación</label>
                                    <select class="form-control" name="VENTA_captura_cobroInstalacion" id="VENTA_captura_cobroInstalacion campoVenta" required data-nombre="Cobro de instalación" data-tipo="texto">
                                        <option value="0">Seleccione</option>
                                        <option value="true">Si</option>
                                        <option value="false">No</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4" style="display:none;">
                                <div class="form-group">

                                    <select id="campana_plantilla" value="" class="form-control" multiple data-tipo="texto">
                                        <option value="0">Sin Seleccionar</option>
                                        @foreach (Core.Models.configuration.Configuration campana in Configuraciones.Where(c => c.CategoriesId == _Configuraciones.campanas))
                                        {
                                            <option value="@campana.Name">@campana.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>





                            @*<div class="col-md-4  col-xs-4">
                                    <div class="form-group">
                                        <label>TARIFA</label>
                                        <input type="Text" name="VENTA_RENTA_MENSUAL" id="VENTA_RENTA_MENSUAL" value="" class="form-control campoVenta" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto" />
                                    </div>
                                </div>*@


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>FECHA AGENDAMIENTO</label>
                                    <input type="Text" name="VENTA_captura_fechaAgendamiento" id="VENTA_captura_fechaAgendamiento" value="" class="fechaCalendario hoy form-control campoVenta" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto" />
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>FRANJA</label>
                                    <select class="form-control campoVenta" id="VENTA_captura_franja" name="VENTA_captura_franja" required data-nombre="NOMBRE COMPLETO DEL CLIENTE" data-tipo="texto">
                                        <option value="0">Seleccione</option>
                                        <option value="8:00 13:00">8:00 13:00</option>
                                        <option value="14:00 18:00">14:00 18:00</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4  col-xs-4">
                                <div class="form-group">
                                    <label>RENTA MENSUAL</label>
                                    <input type="Text" name="VENTA_captura_rentaMensual" id="VENTA_captura_rentaMensual" value="" class="form-control campoVenta" required data-nombre="Renta Mensual" data-tipo="numero" />
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="0" id="acw" />
    <input type="hidden" value="@Model.Gestion.TelefonoLlamada" id="G_TelefonoLlamada" />
    <input type="hidden" value="100" id="tipificacion" />

</div>



<!-- ------------------------------------------------------- -->
<!--|        SECCION DE TIPIFICACION                        |-->
<!-- ------------------------------------------------------- -->


<br />
@Html.AntiForgeryToken()
<div class="row" id="box_Tip" style="display:none;">




    <div class="col-md-12">
        <h3 class="widget-user-username">TIPIFICACIÓN DE LA GESTION</h3>


        <br />
        <div class="box box-danger">
            <div class="box-header">Datos de la venta</div>
            <div class="box-body">

                <div class="formValidador" style="display:none;">

                    <div class="form-group">
                        <label>Observaciones</label>
                        <textarea name="captura_Observacion" id="captura_Observacion" class="form-control campoVenta" required data-nombre="Observaciones" data-tipo="texto"></textarea>
                    </div>

                    @*<div class="form-group">
                            <label>Usuario Verificador</label>
                            <input type="Text" name="UsuarioVerificador" id="UsuarioVerificador" value="" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Contraseña Verificador</label>
                            <input type="password" name="PassVerificador" id="PassVerificador" value="" class="form-control" />
                        </div>*@
                </div>

                <!-- ------------------------------------------------------- -->
                <!--|       FORMULARIO PROGRAMAR LLAMADA                    |-->
                <!-- ------------------------------------------------------- -->
                @RenderPage("~/Views/Home/partial/VolverALlamar.cshtml")


                <div class="form-group">
                    <label>Tipificación</label>
                    <select class="dro_cascade_tipificacion form-control consecutivo1">
                        <option value="0">Seleccione</option>
                        @foreach (Core.Models.Servicios.Tipificacion tip in ViewBag.TipificacionId)
                        {
                            {
                                final = tip.final == true ? 1 : 0;
                                Efectiva = tip.GestionEfectiva == true ? 1 : 0;
                            }
                            <option value="@tip.Id" data-final="@final" data-efectiva="@Efectiva" data-id="@tip.Id">@tip.Nombre</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-danger" id="GuardarGestion">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalData" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <img src="" class="imgVista img-rounded" style="width:90%;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="ModalRecuperar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p style="font-size:30px;Color:red;font-weight: bold;">
                    Tiene <span class="btn btn-warning" style="
                        font-size: 20px;
                        font-weight: bolder;
                    ">1</span>
                    @if (ViewBag.porRecuperar == 1)
                    {
                        @Html.Raw("Gestion por recuperar");
                    }
                    else
                    {
                        @Html.Raw("Gestiones por recuperar");

                    }
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- ------------------------------------------------------- -->
<!--|       MODAL DE DIRECCION                              |-->
<!-- ------------------------------------------------------- -->
<!-- #region  DIRECCION MODAL -->
@RenderPage("~/Views/Home/partial/Direccion.cshtml")
<!-- #endregion -->


@section Scripts{

    <script>
        $("#ciudad_Inbound").select2()
        let VDNLlamada = '@Model.Gestion.vdnLlamada'
        @if (Model.Gestion.TipoServicioCamapa != "INBOUND")
        {

            @Html.Raw("const IsInbound = false;");

        }
        else
        {
            @Html.Raw("const IsInbound = true;");
        }

        const TipoBase = 2;
        const G_SourcePresence = '@Model.Gestion.VENTA_TOMAS_ADICIONALES_TV';

    </script>
    @*@if (ViewBag.porRecuperar > 0)
        {
            <script>
                $("#ModalRecuperar").modal()

            </script>
        }*@

    <script src="~/Scripts/app/Direccion.js"></script>
    <script src="~/Scripts/app/GestionArchivos.js?v=2"></script>
}




