﻿
@using Core.Models.Security
@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        Bienvenido
    </h1>
</section>
<div class="row">
    <div class="col-md-5">
        <div class="box">
            <div class="box-header">Resumen de ventas</div>
            <div class="box-body">
                <canvas id="barChart" width="400" height="200"></canvas>

            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Chart.js"></script>
    <script>
        //-------------
        //- BAR CHART -
        //-------------
        var datosTrabajo
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barChart = new Chart(barChartCanvas)
        var barChartData = {
            labels: ['Cantadas', 'Auditadas', 'digitadas', 'Instaladas', 'Legalizadas', 'Caidas'],
            datasets: [
                {
                    label: 'Electronics',
                    fillColor: '#DD4B39',
                    strokeColor: 'rgba(210, 214, 222, 1)',
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65,100,30,40,52,63]
                },
                {
                    label: 'Electronics',
                    fillColor: '#dd1052',
                    strokeColor: 'rgba(210, 214, 222, 1)',
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 100, 30, 40, 52, 63]
                }



            ]
        }
        //barChartData.datasets[1].fillColor = '#00a65a'
        //barChartData.datasets[1].strokeColor = '#00a65a'
        //barChartData.datasets[1].pointColor = '#00a65a'
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        }

        barChartOptions.datasetFill = false
        barChart.Bar(barChartData, barChartOptions)

    </script>
}


