﻿@using Core.Models.Security

@{
    Int32 unixTimestamp = 21;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Uno27 claro Tmk hogares</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<meta http-equiv="refresh" content="2" />*@
    @Styles.Render("~/Content/css")
    <link href="~/Content/" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <style>
        .bodyback {
            background: url('../../Content/images/body3.png');
            background-size: 50px 50px;
        }
    </style>
</head>

<body class="hold-transition skin-black-light sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("HomeAdmin","Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>U</b>27</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TMK - HOGARES</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">

                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <ul class="nav navbar-nav">
                    <li>
                        <a style="cursor:pointer" class="label shoppingToggle"><i class="fa fa-shopping-cart fa-2x"></i></a>
                    </li>
                </ul>
                <div class="navbar-custom-menu">

                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Images/logo2.png" class="img-circle" alt="User Image">
                        @*<img src="~/Content/images/logo1.png" class="logo" />*@
                    </div>
                    <div class="pull-left info">
                        <br />
                        <p>@SessionPersister.UserName</p>
                    </div>
                </div>
                <!-- search form -->
                @if (SessionPersister.Id != null)
                {
                    @Html.Partial("_Menu");
                }
               


            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bodyback">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            @Html.Partial("_Footer")
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->

    @Scripts.Render("~/bundles/js")
    <script src="~/Content/adminlte/js/adminlte.min.js"></script>
    <script src="~/Content/adminlte/js/demo.js"></script>
    <script>
        const BaseUrl =  @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
        let isAgente = false;
    </script>
    <script src="~/Scripts/app/General.js?v=@unixTimestamp"></script>
    <script src="~/Scripts/app/app.js?v=@unixTimestamp"></script>
    <script src="~/Scripts/app/BackOffice.js?v=@unixTimestamp"></script>

    @RenderSection("scripts", required: false)
</body>
</html>