﻿@model Core.Models.Gestion.Cliente

@{
    ViewBag.Title = "Delete";
}

@{
	ViewBag._Active = "Delete";
	ViewBag._Panel = "Home";
}


<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">¿Esta seguro que desea eliminar este elemento?</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Carga.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.Carga.Nombre)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CONTRATO_CUSTCODE)
								</th>

								<td>
									@Html.DisplayFor(model => model.CONTRATO_CUSTCODE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CUENTA_CO_ID)
								</th>

								<td>
									@Html.DisplayFor(model => model.CUENTA_CO_ID)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TELE_NUMB)
								</th>

								<td>
									@Html.DisplayFor(model => model.TELE_NUMB)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ESTADO)
								</th>

								<td>
									@Html.DisplayFor(model => model.ESTADO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.NOMBRE_CLIENTE)
								</th>

								<td>
									@Html.DisplayFor(model => model.NOMBRE_CLIENTE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_IDENT)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_IDENT)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.NUMERO_IDENTIFICACION)
								</th>

								<td>
									@Html.DisplayFor(model => model.NUMERO_IDENTIFICACION)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_CLIENTE)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_CLIENTE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DIRECCION)
								</th>

								<td>
									@Html.DisplayFor(model => model.DIRECCION)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CIUDAD)
								</th>

								<td>
									@Html.DisplayFor(model => model.CIUDAD)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ESTRATO)
								</th>

								<td>
									@Html.DisplayFor(model => model.ESTRATO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TELEFONO_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TELEFONO_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TELEFONO_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CELULAR_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CELULAR_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CELULAR_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CELULAR_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.EMAIL)
								</th>

								<td>
									@Html.DisplayFor(model => model.EMAIL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.FECHA_VINCULACION)
								</th>

								<td>
									@Html.DisplayFor(model => model.FECHA_VINCULACION)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ANTIGUEDAD)
								</th>

								<td>
									@Html.DisplayFor(model => model.ANTIGUEDAD)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CALIFICACION_CLIENTE)
								</th>

								<td>
									@Html.DisplayFor(model => model.CALIFICACION_CLIENTE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TMCODE_ACTUAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.TMCODE_ACTUAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_PRODUCTO)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_PRODUCTO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SEGMENTO_PLAN)
								</th>

								<td>
									@Html.DisplayFor(model => model.SEGMENTO_PLAN)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TECNOLOGIA_PLAN)
								</th>

								<td>
									@Html.DisplayFor(model => model.TECNOLOGIA_PLAN)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DES_TMCODE)
								</th>

								<td>
									@Html.DisplayFor(model => model.DES_TMCODE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CFM_PLAN)
								</th>

								<td>
									@Html.DisplayFor(model => model.CFM_PLAN)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SPCODE)
								</th>

								<td>
									@Html.DisplayFor(model => model.SPCODE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DES_SPCODE)
								</th>

								<td>
									@Html.DisplayFor(model => model.DES_SPCODE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TECNOLOGIA_PAQUETE)
								</th>

								<td>
									@Html.DisplayFor(model => model.TECNOLOGIA_PAQUETE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CFM_PAQ)
								</th>

								<td>
									@Html.DisplayFor(model => model.CFM_PAQ)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ARPU)
								</th>

								<td>
									@Html.DisplayFor(model => model.ARPU)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DETALLE_SERVICIOS_ADICIONALES)
								</th>

								<td>
									@Html.DisplayFor(model => model.DETALLE_SERVICIOS_ADICIONALES)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.COMPORTAMIENTO_PAGO)
								</th>

								<td>
									@Html.DisplayFor(model => model.COMPORTAMIENTO_PAGO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CONSUMO_DATOS_MES_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CONSUMO_DATOS_MES_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.CONSUMO_DATOS_MES_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.MOU_MES)
								</th>

								<td>
									@Html.DisplayFor(model => model.MOU_MES)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_EQUIPO)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_EQUIPO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TICKLER)
								</th>

								<td>
									@Html.DisplayFor(model => model.TICKLER)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DESACTIV)
								</th>

								<td>
									@Html.DisplayFor(model => model.DESACTIV)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.PLAN_PAR)
								</th>

								<td>
									@Html.DisplayFor(model => model.PLAN_PAR)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.AJUSTES)
								</th>

								<td>
									@Html.DisplayFor(model => model.AJUSTES)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.minutos_incluidos)
								</th>

								<td>
									@Html.DisplayFor(model => model.minutos_incluidos)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.megas_incluidas)
								</th>

								<td>
									@Html.DisplayFor(model => model.megas_incluidas)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campo_Movil_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campo_Movil_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campo_Movil_4)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campo_Movil_4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campo_Movil_5)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campo_Movil_5)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.NODO)
								</th>

								<td>
									@Html.DisplayFor(model => model.NODO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.COMUNIDAD)
								</th>

								<td>
									@Html.DisplayFor(model => model.COMUNIDAD)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DIVISION)
								</th>

								<td>
									@Html.DisplayFor(model => model.DIVISION)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TARIFA)
								</th>

								<td>
									@Html.DisplayFor(model => model.TARIFA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.RENTA_RR)
								</th>

								<td>
									@Html.DisplayFor(model => model.RENTA_RR)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SERVICIO_TV)
								</th>

								<td>
									@Html.DisplayFor(model => model.SERVICIO_TV)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SERVICIO_INTERNET)
								</th>

								<td>
									@Html.DisplayFor(model => model.SERVICIO_INTERNET)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.MINTIC)
								</th>

								<td>
									@Html.DisplayFor(model => model.MINTIC)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SERVICIO_VOZ)
								</th>

								<td>
									@Html.DisplayFor(model => model.SERVICIO_VOZ)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_HD)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_HD)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_HBO)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_HBO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_FOX)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_FOX)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_ADULTO)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_ADULTO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DECOS_ADICIONALES_HD_PVR)
								</th>

								<td>
									@Html.DisplayFor(model => model.DECOS_ADICIONALES_HD_PVR)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_CLAROVIDEO)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_CLAROVIDEO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.NUM_DECOS_ADICIONALES_TV)
								</th>

								<td>
									@Html.DisplayFor(model => model.NUM_DECOS_ADICIONALES_TV)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_REVISTA)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_REVISTA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.TIPO_OTROS)
								</th>

								<td>
									@Html.DisplayFor(model => model.TIPO_OTROS)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.SEGMENTO_CLIENTE)
								</th>

								<td>
									@Html.DisplayFor(model => model.SEGMENTO_CLIENTE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DIVISION_COMERCIAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.DIVISION_COMERCIAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.AREA_COMERCIAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.AREA_COMERCIAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ZONA_COMERCIAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.ZONA_COMERCIAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Empaquetamiento)
								</th>

								<td>
									@Html.DisplayFor(model => model.Empaquetamiento)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.PAQUETE_ACTUAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.PAQUETE_ACTUAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.RENTA_BASICOS)
								</th>

								<td>
									@Html.DisplayFor(model => model.RENTA_BASICOS)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.RENTA_ADICIONALES)
								</th>

								<td>
									@Html.DisplayFor(model => model.RENTA_ADICIONALES)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.RENTA_TOTAL_IVA)
								</th>

								<td>
									@Html.DisplayFor(model => model.RENTA_TOTAL_IVA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.BENEFICIO)
								</th>

								<td>
									@Html.DisplayFor(model => model.BENEFICIO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DESCUENTO_OFERTA_COMERCIAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.DESCUENTO_OFERTA_COMERCIAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.ABS_DESCUENTO)
								</th>

								<td>
									@Html.DisplayFor(model => model.ABS_DESCUENTO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VALOR_COMERCIAL_OFERTA)
								</th>

								<td>
									@Html.DisplayFor(model => model.VALOR_COMERCIAL_OFERTA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VALOR_OFERTA_CON_DESC)
								</th>

								<td>
									@Html.DisplayFor(model => model.VALOR_OFERTA_CON_DESC)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.VENTA_TECNOLOGIA)
								</th>

								<td>
									@Html.DisplayFor(model => model.VENTA_TECNOLOGIA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.EQUIPO_ACTUAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.EQUIPO_ACTUAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.OFERTA_MULTIPLAY)
								</th>

								<td>
									@Html.DisplayFor(model => model.OFERTA_MULTIPLAY)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.BLINDAJE_MOVIL)
								</th>

								<td>
									@Html.DisplayFor(model => model.BLINDAJE_MOVIL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campo_Fijo_4)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campo_Fijo_4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campo_Fijo_5)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campo_Fijo_5)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_APELLIDO)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_APELLIDO)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_NOMBRE)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_NOMBRE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_ESTRATEGIA)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_ESTRATEGIA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_TIPO_PAQUETE)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_TIPO_PAQUETE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_TELEFONO_TELMEX)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_TELEFONO_TELMEX)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_FECHA_ULTIMA_OT)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_FECHA_ULTIMA_OT)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_RENTA_ESTIMADA)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_RENTA_ESTIMADA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_TRABAJOREVISTA)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_TRABAJOREVISTA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_PROBABILIDAD_VENTA)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_PROBABILIDAD_VENTA)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_CTA_MATRIZ)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_CTA_MATRIZ)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_CORTE)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_CORTE)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_CUENTAS_ALTERNAS)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_CUENTAS_ALTERNAS)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_DIRECCIONES_ALTERNAS)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_DIRECCIONES_ALTERNAS)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Oferta_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Oferta_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Valor_Oferta_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Diferencia_OFerta_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Tarifa_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_1)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Politica_1)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Oferta_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Oferta_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Valor_Oferta_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Diferencia_OFerta_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Tarifa_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_2)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Politica_2)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Oferta_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Oferta_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Valor_Oferta_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Diferencia_OFerta_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Tarifa_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_3)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Politica_3)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Oferta_1_Adicional)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Oferta_1_Adicional)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Oferta_4)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Oferta_4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_4)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Valor_Oferta_4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_4)
								</th>

								<td>
									@Html.DisplayFor(model => model.adicionales_Codigo_Tarifa_4)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.cruzada_NUM_DECOS_ADI)
								</th>

								<td>
									@Html.DisplayFor(model => model.cruzada_NUM_DECOS_ADI)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.cruzada_DIVISION_COMERCIAL)
								</th>

								<td>
									@Html.DisplayFor(model => model.cruzada_DIVISION_COMERCIAL)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.EstadoId)
								</th>

								<td>
									@Html.DisplayFor(model => model.EstadoId)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.car_ProductoId)
								</th>

								<td>
									@Html.DisplayFor(model => model.car_ProductoId)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>

											</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Eliminar" class="btn btn-danger" /> 
				@Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-default" })
			</div>
		}
</div>
