﻿@model Core.Models.Gestion.Cliente

@{
    ViewBag.Title = "Edit";
}

@{
	ViewBag._Active = "Edit";
	ViewBag._Panel = "Home";
}




	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Editar Cliente</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()
    
							<div class="form-horizontal">
														@Html.ValidationSummary(true, "", new { @class = "text-danger" })
																				@Html.HiddenFor(model => model.Id)

														<div class="form-group">
															@Html.LabelFor(model => model.CONTRATO_CUSTCODE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CONTRATO_CUSTCODE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CONTRATO_CUSTCODE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CUENTA_CO_ID, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CUENTA_CO_ID, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CUENTA_CO_ID, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TELE_NUMB, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TELE_NUMB, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TELE_NUMB, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.NOMBRE_CLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.NOMBRE_CLIENTE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.NOMBRE_CLIENTE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_IDENT, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_IDENT, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_IDENT, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.NUMERO_IDENTIFICACION, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.NUMERO_IDENTIFICACION, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.NUMERO_IDENTIFICACION, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_CLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_CLIENTE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_CLIENTE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CIUDAD, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ESTRATO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ESTRATO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ESTRATO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TELEFONO_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TELEFONO_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TELEFONO_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TELEFONO_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TELEFONO_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TELEFONO_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TELEFONO_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TELEFONO_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TELEFONO_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CELULAR_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CELULAR_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CELULAR_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CELULAR_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CELULAR_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CELULAR_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.FECHA_VINCULACION, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.FECHA_VINCULACION, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.FECHA_VINCULACION, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ANTIGUEDAD, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ANTIGUEDAD, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ANTIGUEDAD, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CALIFICACION_CLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CALIFICACION_CLIENTE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CALIFICACION_CLIENTE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TMCODE_ACTUAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TMCODE_ACTUAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TMCODE_ACTUAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_PRODUCTO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_PRODUCTO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_PRODUCTO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SEGMENTO_PLAN, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SEGMENTO_PLAN, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SEGMENTO_PLAN, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TECNOLOGIA_PLAN, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TECNOLOGIA_PLAN, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TECNOLOGIA_PLAN, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DES_TMCODE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DES_TMCODE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DES_TMCODE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CFM_PLAN, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CFM_PLAN, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CFM_PLAN, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SPCODE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SPCODE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SPCODE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DES_SPCODE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DES_SPCODE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DES_SPCODE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TECNOLOGIA_PAQUETE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TECNOLOGIA_PAQUETE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TECNOLOGIA_PAQUETE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CFM_PAQ, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CFM_PAQ, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CFM_PAQ, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ARPU, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ARPU, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ARPU, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DETALLE_SERVICIOS_ADICIONALES, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DETALLE_SERVICIOS_ADICIONALES, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DETALLE_SERVICIOS_ADICIONALES, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.COMPORTAMIENTO_PAGO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.COMPORTAMIENTO_PAGO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.COMPORTAMIENTO_PAGO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CONSUMO_DATOS_MES_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CONSUMO_DATOS_MES_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CONSUMO_DATOS_MES_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CONSUMO_DATOS_MES_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CONSUMO_DATOS_MES_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CONSUMO_DATOS_MES_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CONSUMO_DATOS_MES_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.CONSUMO_DATOS_MES_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.CONSUMO_DATOS_MES_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.MOU_MES, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.MOU_MES, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.MOU_MES, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_EQUIPO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_EQUIPO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_EQUIPO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TICKLER, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TICKLER, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TICKLER, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DESACTIV, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DESACTIV, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DESACTIV, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.PLAN_PAR, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.PLAN_PAR, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.PLAN_PAR, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.AJUSTES, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.AJUSTES, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.AJUSTES, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.minutos_incluidos, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.minutos_incluidos, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.minutos_incluidos, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.megas_incluidas, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.megas_incluidas, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.megas_incluidas, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Campo_Movil_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Campo_Movil_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Campo_Movil_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Campo_Movil_4, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Campo_Movil_4, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Campo_Movil_4, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Campo_Movil_5, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Campo_Movil_5, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Campo_Movil_5, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.NODO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.NODO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.NODO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.COMUNIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.COMUNIDAD, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.COMUNIDAD, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DIVISION, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DIVISION, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DIVISION, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TARIFA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TARIFA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TARIFA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.RENTA_RR, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.RENTA_RR, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.RENTA_RR, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SERVICIO_TV, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SERVICIO_TV, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SERVICIO_TV, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SERVICIO_INTERNET, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SERVICIO_INTERNET, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SERVICIO_INTERNET, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.MINTIC, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.MINTIC, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.MINTIC, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SERVICIO_VOZ, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SERVICIO_VOZ, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SERVICIO_VOZ, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_HD, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_HD, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_HD, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_HBO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_HBO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_HBO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_FOX, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_FOX, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_FOX, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_ADULTO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_ADULTO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_ADULTO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DECOS_ADICIONALES_HD_PVR, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DECOS_ADICIONALES_HD_PVR, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DECOS_ADICIONALES_HD_PVR, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_CLAROVIDEO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_CLAROVIDEO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_CLAROVIDEO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.NUM_DECOS_ADICIONALES_TV, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.NUM_DECOS_ADICIONALES_TV, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.NUM_DECOS_ADICIONALES_TV, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_REVISTA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_REVISTA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_REVISTA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.TIPO_OTROS, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.TIPO_OTROS, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.TIPO_OTROS, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.SEGMENTO_CLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.SEGMENTO_CLIENTE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.SEGMENTO_CLIENTE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DIVISION_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DIVISION_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DIVISION_COMERCIAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.AREA_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.AREA_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.AREA_COMERCIAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ZONA_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ZONA_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ZONA_COMERCIAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Empaquetamiento, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Empaquetamiento, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Empaquetamiento, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.PAQUETE_ACTUAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.PAQUETE_ACTUAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.PAQUETE_ACTUAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.RENTA_BASICOS, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.RENTA_BASICOS, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.RENTA_BASICOS, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.RENTA_ADICIONALES, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.RENTA_ADICIONALES, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.RENTA_ADICIONALES, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.RENTA_TOTAL_IVA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.RENTA_TOTAL_IVA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.RENTA_TOTAL_IVA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.BENEFICIO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.BENEFICIO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.BENEFICIO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.DESCUENTO_OFERTA_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.DESCUENTO_OFERTA_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.DESCUENTO_OFERTA_COMERCIAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.ABS_DESCUENTO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.ABS_DESCUENTO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.ABS_DESCUENTO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.VALOR_COMERCIAL_OFERTA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.VALOR_COMERCIAL_OFERTA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.VALOR_COMERCIAL_OFERTA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.VALOR_OFERTA_CON_DESC, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.VALOR_OFERTA_CON_DESC, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.VALOR_OFERTA_CON_DESC, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.VENTA_TECNOLOGIA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.VENTA_TECNOLOGIA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.VENTA_TECNOLOGIA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.EQUIPO_ACTUAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.EQUIPO_ACTUAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.EQUIPO_ACTUAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.OFERTA_MULTIPLAY, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.OFERTA_MULTIPLAY, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.OFERTA_MULTIPLAY, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.BLINDAJE_MOVIL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.BLINDAJE_MOVIL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.BLINDAJE_MOVIL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Campo_Fijo_4, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Campo_Fijo_4, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Campo_Fijo_4, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.Campo_Fijo_5, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.Campo_Fijo_5, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.Campo_Fijo_5, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_APELLIDO, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_APELLIDO, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_NOMBRE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_ESTRATEGIA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_ESTRATEGIA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_ESTRATEGIA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_TIPO_PAQUETE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_TIPO_PAQUETE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_TIPO_PAQUETE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_TELEFONO_TELMEX, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_TELEFONO_TELMEX, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_TELEFONO_TELMEX, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_FECHA_ULTIMA_OT, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_FECHA_ULTIMA_OT, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_FECHA_ULTIMA_OT, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_RENTA_ESTIMADA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_RENTA_ESTIMADA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_RENTA_ESTIMADA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_TRABAJOREVISTA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_TRABAJOREVISTA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_TRABAJOREVISTA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_PROBABILIDAD_VENTA, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_PROBABILIDAD_VENTA, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_PROBABILIDAD_VENTA, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_CTA_MATRIZ, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_CTA_MATRIZ, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_CTA_MATRIZ, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_CORTE, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_CORTE, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_CORTE, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_CUENTAS_ALTERNAS, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_CUENTAS_ALTERNAS, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_CUENTAS_ALTERNAS, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_DIRECCIONES_ALTERNAS, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_DIRECCIONES_ALTERNAS, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_DIRECCIONES_ALTERNAS, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Oferta_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Oferta_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Oferta_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Valor_Oferta_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Valor_Oferta_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Valor_Oferta_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Diferencia_OFerta_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Diferencia_OFerta_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Diferencia_OFerta_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Tarifa_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Tarifa_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Tarifa_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Politica_1, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Politica_1, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Politica_1, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Oferta_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Oferta_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Oferta_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Valor_Oferta_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Valor_Oferta_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Valor_Oferta_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Diferencia_OFerta_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Diferencia_OFerta_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Diferencia_OFerta_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Tarifa_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Tarifa_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Tarifa_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Politica_2, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Politica_2, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Politica_2, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Oferta_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Oferta_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Oferta_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Valor_Oferta_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Valor_Oferta_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Valor_Oferta_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Diferencia_OFerta_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Diferencia_OFerta_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Diferencia_OFerta_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Tarifa_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Tarifa_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Tarifa_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Politica_3, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Politica_3, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Politica_3, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Oferta_1_Adicional, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Oferta_1_Adicional, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Oferta_1_Adicional, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Oferta_4, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Oferta_4, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Oferta_4, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Valor_Oferta_4, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Valor_Oferta_4, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Valor_Oferta_4, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.adicionales_Codigo_Tarifa_4, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.adicionales_Codigo_Tarifa_4, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.adicionales_Codigo_Tarifa_4, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.cruzada_NUM_DECOS_ADI, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.cruzada_NUM_DECOS_ADI, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.cruzada_NUM_DECOS_ADI, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.cruzada_DIVISION_COMERCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.cruzada_DIVISION_COMERCIAL, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.cruzada_DIVISION_COMERCIAL, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.CargaId, "CargaId", htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																						@Html.DropDownList("CargaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
																												@Html.ValidationMessageFor(model => model.CargaId, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.EstadoId, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
															@Html.LabelFor(model => model.car_ProductoId, htmlAttributes: new { @class = "control-label col-md-2" })
															<div class="col-md-10">
																@Html.EditorFor(model => model.car_ProductoId, new { htmlAttributes = new { @class = "form-control" } })
																						@Html.ValidationMessageFor(model => model.car_ProductoId, "", new { @class = "text-danger" })
																					</div>
								</div>

														<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<input type="submit" value="Guardar" class="btn btn-success" />
									</div>
								</div>
							</div>
						}

						<div>
							@Html.ActionLink("Regresar", "Index",null,new { @class = "btn btn-danger" })
						</div>
				</div>
			</div>
		</div>
	</div>



