﻿@model IEnumerable<Core.Models.Gestion.Cliente>

@{
    ViewBag.Title = "Index";
}

@{
	ViewBag._Active = "Index";
	ViewBag._Panel = "Home";
}



<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Listar</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<div class=" col-md-3 form-group">
					<label>Nombre</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-road"></i>
						</div>
						<input type="text" class="form-control" id="txt_nombre" value="">
					</div>
				</div>
				<div class="col-md-6 inline-form form-group">
					<label for=""> Acciones </label>
					<div class="input-group">
						<input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Listar Cliente</h3>
	</div><!-- /.box-header -->
	<div class="box-body">

		<div class="row">
			<div class="col-md-12">
				<table id="tabla" class="table table-bordered table-hover">
					<thead>
						<tr>
																							<th>
										@Html.DisplayNameFor(model => model.Carga.Nombre)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CONTRATO_CUSTCODE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CUENTA_CO_ID)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TELE_NUMB)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ESTADO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.NOMBRE_CLIENTE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_IDENT)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.NUMERO_IDENTIFICACION)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_CLIENTE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DIRECCION)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CIUDAD)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ESTRATO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TELEFONO_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TELEFONO_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TELEFONO_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CELULAR_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CELULAR_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.EMAIL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.FECHA_VINCULACION)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ANTIGUEDAD)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CALIFICACION_CLIENTE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TMCODE_ACTUAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_PRODUCTO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SEGMENTO_PLAN)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TECNOLOGIA_PLAN)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DES_TMCODE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CFM_PLAN)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SPCODE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DES_SPCODE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TECNOLOGIA_PAQUETE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CFM_PAQ)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ARPU)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DETALLE_SERVICIOS_ADICIONALES)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.COMPORTAMIENTO_PAGO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CONSUMO_DATOS_MES_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.MOU_MES)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_EQUIPO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TICKLER)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DESACTIV)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.PLAN_PAR)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.AJUSTES)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.minutos_incluidos)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.megas_incluidas)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Campo_Movil_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Campo_Movil_4)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Campo_Movil_5)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.NODO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.COMUNIDAD)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DIVISION)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TARIFA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.RENTA_RR)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SERVICIO_TV)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SERVICIO_INTERNET)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.MINTIC)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SERVICIO_VOZ)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_HD)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_HBO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_FOX)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_ADULTO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DECOS_ADICIONALES_HD_PVR)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_CLAROVIDEO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.NUM_DECOS_ADICIONALES_TV)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_REVISTA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TIPO_OTROS)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.SEGMENTO_CLIENTE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DIVISION_COMERCIAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.AREA_COMERCIAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ZONA_COMERCIAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Empaquetamiento)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.PAQUETE_ACTUAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.RENTA_BASICOS)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.RENTA_ADICIONALES)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.RENTA_TOTAL_IVA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.BENEFICIO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.DESCUENTO_OFERTA_COMERCIAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.ABS_DESCUENTO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.VALOR_COMERCIAL_OFERTA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.VALOR_OFERTA_CON_DESC)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.VENTA_TECNOLOGIA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.EQUIPO_ACTUAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.OFERTA_MULTIPLAY)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.BLINDAJE_MOVIL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Campo_Fijo_4)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Campo_Fijo_5)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_APELLIDO)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_NOMBRE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_ESTRATEGIA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_TIPO_PAQUETE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_TELEFONO_TELMEX)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_FECHA_ULTIMA_OT)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_RENTA_ESTIMADA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_TRABAJOREVISTA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_PROBABILIDAD_VENTA)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_CTA_MATRIZ)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_CORTE)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_CUENTAS_ALTERNAS)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_DIRECCIONES_ALTERNAS)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Oferta_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_1)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Oferta_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_2)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Oferta_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Diferencia_OFerta_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Politica_3)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Oferta_1_Adicional)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Oferta_4)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Valor_Oferta_4)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.adicionales_Codigo_Tarifa_4)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.cruzada_NUM_DECOS_ADI)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.cruzada_DIVISION_COMERCIAL)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.EstadoId)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.car_ProductoId)
									</th>
																<th>Acciones</th>
							</tr>
					</thead>
					<tbody>

							@foreach (var item in Model) {
								<tr>
																							<td>
										@Html.DisplayFor(modelItem => item.Carga.Nombre)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CONTRATO_CUSTCODE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CUENTA_CO_ID)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TELE_NUMB)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ESTADO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.NOMBRE_CLIENTE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_IDENT)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.NUMERO_IDENTIFICACION)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_CLIENTE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DIRECCION)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CIUDAD)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ESTRATO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TELEFONO_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TELEFONO_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TELEFONO_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CELULAR_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CELULAR_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.EMAIL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.FECHA_VINCULACION)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ANTIGUEDAD)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CALIFICACION_CLIENTE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TMCODE_ACTUAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_PRODUCTO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SEGMENTO_PLAN)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TECNOLOGIA_PLAN)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DES_TMCODE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CFM_PLAN)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SPCODE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DES_SPCODE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TECNOLOGIA_PAQUETE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CFM_PAQ)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ARPU)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DETALLE_SERVICIOS_ADICIONALES)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.COMPORTAMIENTO_PAGO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CONSUMO_DATOS_MES_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CONSUMO_DATOS_MES_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.CONSUMO_DATOS_MES_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.MOU_MES)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_EQUIPO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TICKLER)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DESACTIV)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.PLAN_PAR)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.AJUSTES)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.minutos_incluidos)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.megas_incluidas)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Campo_Movil_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Campo_Movil_4)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Campo_Movil_5)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.NODO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.COMUNIDAD)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DIVISION)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TARIFA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.RENTA_RR)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SERVICIO_TV)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SERVICIO_INTERNET)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.MINTIC)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SERVICIO_VOZ)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_HD)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_HBO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_FOX)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_ADULTO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DECOS_ADICIONALES_HD_PVR)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_CLAROVIDEO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.NUM_DECOS_ADICIONALES_TV)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_REVISTA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.TIPO_OTROS)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.SEGMENTO_CLIENTE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DIVISION_COMERCIAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.AREA_COMERCIAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ZONA_COMERCIAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Empaquetamiento)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.PAQUETE_ACTUAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.RENTA_BASICOS)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.RENTA_ADICIONALES)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.RENTA_TOTAL_IVA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.BENEFICIO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.DESCUENTO_OFERTA_COMERCIAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.ABS_DESCUENTO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.VALOR_COMERCIAL_OFERTA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.VALOR_OFERTA_CON_DESC)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.VENTA_TECNOLOGIA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.EQUIPO_ACTUAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.OFERTA_MULTIPLAY)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.BLINDAJE_MOVIL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Campo_Fijo_4)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.Campo_Fijo_5)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_APELLIDO)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_NOMBRE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_ESTRATEGIA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_TIPO_PAQUETE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_TELEFONO_TELMEX)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_FECHA_ULTIMA_OT)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_RENTA_ESTIMADA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_TRABAJOREVISTA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_PROBABILIDAD_VENTA)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_CTA_MATRIZ)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_CORTE)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_CUENTAS_ALTERNAS)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_DIRECCIONES_ALTERNAS)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Oferta_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Valor_Oferta_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Diferencia_OFerta_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Tarifa_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Politica_1)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Oferta_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Valor_Oferta_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Diferencia_OFerta_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Tarifa_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Politica_2)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Oferta_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Valor_Oferta_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Diferencia_OFerta_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Tarifa_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Politica_3)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Oferta_1_Adicional)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Oferta_4)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Valor_Oferta_4)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.adicionales_Codigo_Tarifa_4)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.cruzada_NUM_DECOS_ADI)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.cruzada_DIVISION_COMERCIAL)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.EstadoId)
									</td>
																							<td>
										@Html.DisplayFor(modelItem => item.car_ProductoId)
									</td>
																<td>
										@Html.ActionLink("Editar", "Edit", new { id=item.Id }, new {  @class = "btn btn-xs btn-success" })
										@Html.ActionLink("Detalle", "Details", new { id=item.Id }, new {  @class = "btn btn-xs btn-default" })
										@Html.ActionLink("Eliminar", "Delete", new { id=item.Id } , new {  @class = "btn btn-xs btn-danger" })
									</td>
															</tr>
							}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

