﻿@model Core.Models.Sales.PlanesEspecificos

@{
    ViewBag.Title = "Details";
}


@{
	ViewBag._Active = "Details";
	ViewBag._Panel = "Home";
}




<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Detalle PlanesEspecificos</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-ms-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Campana.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.Campana.Nombre)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.TarifaPlena.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.TarifaPlena.Nombre)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato1)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato2)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato3)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato4)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato5)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.CEstrato6)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato1)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato2)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato3)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato4)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato5)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CSEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.CSEstrato6)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato1)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato1)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato2)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato2)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato3)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato3)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato4)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato4)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato5)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato5)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.VEstrato6)
								</th>

								<td>
									@Html.DisplayFor(model => model.VEstrato6)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.velocidad)
								</th>

								<td>
									@Html.DisplayFor(model => model.velocidad)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.velocidadId)
								</th>

								<td>
									@Html.DisplayFor(model => model.velocidadId)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.TvId)
								</th>

								<td>
									@Html.DisplayFor(model => model.TvId)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.lineaId)
								</th>

								<td>
									@Html.DisplayFor(model => model.lineaId)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>
										</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Regresar to List", "Index",null, new { @class = "btn btn-default" })
</p>
